<div id="appendix-content-wrapper" class="content-wrapper sides-padded">
  <div id="appendix-content">
    <h1><%= vars.appendix["ZAPPENDIXTITLE"].replace("-", "&ndash;") %></h1>
    <%= vars.appendix["ZAPPENDIXTEXT"] %>
  </div>
</div>
