<div id="decision-view-i2" class="full-screen-view with-footer">
  <div id="decision-title-bg"></div>
  <%
  //####### prepare the variables
  var relatedCount = _.size(vars.related);
  var decisionRuleNumberText = vars.rule["ZRUTE"] || vars.rule["main_rule_number"].toString();//either sub-rule or main rule
  var relatedNumberText, relatedId;
  //####### decision
  %>
  <div id="decision" class="block">
    <div id="decision-title" class="block-title">
      Decision <%- vars.decision["ZRUTE"] %>
    </div>
    <div id="decision-content-wrapper">
      <div id="decision-content" class="scroll-content">
        <h3 class="title">
          <%= vars.decision["ZDECISIONTITLE"] %>
        </h3>
        <div id="phone-view-decision-rule-holder" class="phone-view-holder">
          <div id="phone-view-decision-rule-holder-i" class="phone-view-holder-button" data-rute="<%= decisionRuleNumberText %>">
            <% if (decisionRuleNumberText === "35") { %>
            <span>View Miscellaneous Rule</span>
            <% } else { %>
            <span>View Rule <%- decisionRuleNumberText %></span>
            <% } %>
            <img src="img/icons/36/ic_chevron_right_blue_36px.svg"/>
          </div>
        </div>
        <% if (relatedCount) {//1 %>
        <div id="phone-view-related-holder" class="phone-view-holder">
          <div id="phone-view-related-holder-i" class="phone-view-holder-button">
            <% if (relatedCount === 1) { %>
            <span>View Related Decision</span>
            <% } else { %>
            <span>View Related Decisions</span>
            <% } %>
            <img class="close" src="img/icons/36/ic_chevron_right_blue_36px.svg"/>
          </div>
        </div>
        <% }//end if related 1 %>
        <div>
          <% if (vars.decision["ZDECISIONQ"]) { %>
          <% if (vars.decision["ZDECISIONA"]) { %>
          <div class="question">Q</div>
          <% } %>
          <div class="questionText">
            <%= vars.decision["ZDECISIONQ"] %>
          </div>
          <% } %>
          <% if (vars.decision["ZDECISIONA"]) { %>
          <div class="answer">A</div>
          <div class="answerText">
            <%= vars.decision["ZDECISIONA"] %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%
  //####### decision's rule
  %>
  <div id="decision-rule" class="block">
    <div id="decision-rule-title" class="block-title" data-rute="<%= decisionRuleNumberText %>">
      <% if (decisionRuleNumberText === "35") { %>
      Miscellaneous Rule
      <% } else { %>
      Rule <%- decisionRuleNumberText %>
      <% } %>
      <span class="arrow-right">&#9654;</span>
    </div>
    <div class="scroll-content-border">
      <div id="decision-rule-content-wrapper" class="side-content-wrapper">
        <div id="decision-rule-content" class="scroll-content">
          <h3 class="title">
            <%= vars.rule["ZMAINRULESTITLE"] || vars.rule["ZSUBRULESTITLE"] %>
          </h3>
          <%= vars.rule["ZMAINRULESTXT"] || vars.rule["ZSUBRULESTEXT"] %>
        </div>
      </div>
    </div>
  </div>
  <%
  //####### related decisions
  if (relatedCount) {//2
  %>
  <div id="related" class="block">
    <div id="related-title" class="block-title">
      <% if (relatedCount === 1) { %>
      Related Decision
      <% } else { %>
      Related Decisions
      <% } %>
    </div>
    <div class="scroll-content-border">
      <div id="related-content-wrapper" class="side-content-wrapper">
        <div id="related-content" class="scroll-content">
          <%
          _.each(vars.related, function(related) {
          relatedNumberText = related["ZRUTE"];
          relatedId = app.main.makeDecisionIdFromNumberText(relatedNumberText);
          %>
          <div id="d-rd<%= relatedId %>" class="rli d" data-rute="<%= relatedNumberText %>">
            <div class="dn"><%- relatedNumberText %></div>
            <%= related["ZDECISIONTITLE"] %>
          </div>
          <% });//end each related %>
        </div>
      </div>
    </div>
  </div>
  <% }//end if related 2 %>
</div>
<div id="footer-view">
  <div id="footer-view-i">
    <div class="previous-item">
      <img src="img/icons/24/ic_chevron_left_blue_24px.svg"/>
      <span>Previous Decision</span>
    </div>
    <div class="next-item">
      <span>Next Decision</span>
      <img src="img/icons/24/ic_chevron_right_blue_24px.svg"/>
    </div>
  </div>
</div>
