<div id="definition-content-wrapper">
  <div id="definition-content">
    <div class="defTitle">
      <%- vars.definition["ZTITLE"] %>
    </div>
    <div class="defText">
      <%= vars.definition["ZDEFINITIONTXT"] %>
    </div>
  </div>
</div>
