<div id="definitions-content-wrapper" class="content-wrapper sides-padded">
  <div id="definitions-content">
    <% _.each(vars.definitions, function(definition) { %>
    <div class="defTitle">
      <%- definition["ZTITLE"] %>
    </div>
    <div class="defText">
      <%= definition["ZDEFINITIONTXT"] %>
    </div>
    <% }); %>
  </div>
</div>
