<div id="folders-list-wrapper" class="content-wrapper">
  <div id="folders-list" class="folders-list rules-list">
    <div class="rsn desc">
      <div class="right">
        Delete
        <!--<img src="img/icons/24/ic_arrow_back_white_24px.svg"/>-->
        <svg fill="#FFFFFF" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
        </svg>
      </div>
      <div class="left">
        <!--<img src="img/icons/24/ic_arrow_forward_white_24px.svg"/>-->
        <svg fill="#FFFFFF" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
        </svg>
        Add
        &nbsp;
        <!--<img src="img/icons/24/ic_arrow_forward_white_24px.svg"/>-->
        <svg fill="#FFFFFF" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
        </svg>
        Edit
      </div>
    </div>
    <ul>
      <%
      _.each(vars.sort_order, function (folderId) {
      %>
      <li id="<%= folderId %>" class="rli">
        <div class="rn"></div>
        <span class="item-count"></span>
        <span class="editable"><%- vars.data.folders[folderId] %></span>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
