<%
//logger(vars, "FOLDER LIST, VARS");
var decision, decisionNumberText, decisionId;
var subRule, subRuleNumberText;
var mainRule, mainRuleNumberText, mainRuleNumberTitle;
%>
<div id="folder-rules-and-decisions-list-wrapper" class="content-wrapper">
  <div id="folder-rules-and-decisions-list" class="rules-list">
    <div class="rsn desc2">
      <div class="right">
        Remove
        <!--<img src="img/icons/24/ic_arrow_back_white_24px.svg"/>-->
        <svg fill="#FFFFFF" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
        </svg>
      </div>
      <% if (vars.folderName.toLowerCase().indexOf("folder") === -1) { %>
      Folder:
      <% } %>
      <%- vars.folderName %>
    </div>
    <ul>
      <%
      _.each(vars.folderItems, function (rute) {
      if (rute.indexOf("/") > 0) {//####### decision
      decision = vars.decisions[rute];
      decisionNumberText = decision["ZRUTE"];
      decisionId = app.main.makeDecisionIdFromNumberText(decisionNumberText);
      %>
      <li id="rdl-d<%= decisionId %>" class="rli d" data-rute="<%= decisionNumberText %>">
        <div class="rn">Decision <%- decisionNumberText %></div>
        <%- decision["ZDECISIONTITLE"] %>
      </li>
      <%
      } else if (rute.indexOf("-") > 0) {//####### sub-rule
      subRule = vars.subRules[rute];
      subRuleNumberText = subRule["ZRUTE"];
      %>
      <li id="rdl-sr<%= subRuleNumberText %>" class="rli r" data-rute="<%= subRuleNumberText %>">
        <div class="rn">Rule <%- subRuleNumberText %></div>
        <%- subRule["ZSUBRULESTITLE"] %>
      </li>
      <%
      } else {//####### main-rule
      mainRule = vars.mainRules[rute];
      mainRuleNumberText = mainRule["main_rule_number"].toString();
      if (mainRuleNumberText === "35") {
      mainRuleNumberTitle = "Miscellaneous rule";
      } else {
      mainRuleNumberTitle = "Rule " + mainRuleNumberText;
      }
      %>
      <li id="rdl-r<%= mainRuleNumberText %>" class="rli r" data-rute="<%= mainRuleNumberText %>">
        <div class="rn"><%- mainRuleNumberTitle %></div>
        <%- mainRule["ZMAINRULESTITLE"] %>
      </li>
      <%
      }
      });//end each folderItems
      %>
    </ul>
  </div>
</div>
