<!--#################################################
header-back-nav
-->
<div id="header-back-nav" class="<%= vars.isNarrowScreen ? 'narrow' : 'wide' %>">
  <% if (vars.headerNav) { %>
  <div class="button back-button">
    <!--<img src="img/icons/36/ic_chevron_left_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    <span><%- vars.headerNav %></span>
  </div>
  <% } else { %>
  <!--<span class="menu-button no-chevron">Menu</span>-->
  <% }//end if headerNav %>
</div>
<!--#################################################
header-icons-left
-->
<% if (vars.isRulesAndDecisionsListView) { %>
<div id="header-icons-left" class="<%= vars.isNarrowScreen ? 'narrow' : 'wide' %>">
  <% if (vars.isNarrowScreen) {//### narrow screen %>
  <div class="button explore-button">
    <!--<img src="img/icons/24/ic_explore_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <div class="button search-button">
    <!--<img src="img/icons/24/ic_search_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <% } else {//### wide screen %>
  <div class="button explore-button">
    <!--<img src="img/icons/36/ic_explore_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <div class="button search-button">
    <!--<img src="img/icons/36/ic_search_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <% }//end if isNarrowScreen %>
</div>
<% }//end if isRulesAndDecisionsListView %>
<!--#################################################
header-title
-->
<div id="header-title">
  <%- vars.headerTitle %>
</div>
<!--#################################################
header-icons-right
-->
<div id="header-icons-right" class="<%= vars.isNarrowScreen ? 'narrow' : 'wide' %>">
  <%
  if (vars.isNarrowScreen) {
  //####### narrow screen
  %>
  <% if (!vars.isRulesAndDecisionsListView) { %>
  <div class="button home-button">
    <!--<img src="img/icons/24/ic_home_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <% } %>
  <% if (vars.isRuleViewOrDecisionView) { %>
  <div class="button share-button">
    <!--<img src="img/icons/24/ic_share_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"></path>
    </svg>
  </div>
  <div class="button folder-button">
    <!--<img src="img/icons/24/ic_create_new_folder_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M20 6h-8l-2-2H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-1 8h-3v3h-2v-3h-3v-2h3V9h2v3h3v2z"></path>
    </svg>
  </div>
  <% } %>
  <div class="button menu-button">
    <!--<img src="img/icons/24/ic_menu_white_24px.svg"/>-->
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
    </svg>
  </div>
  <%
  } else {
  //####### wide screen
  %>
  <% if (!vars.isRulesAndDecisionsListView) { %>
  <div class="button home-button">
    <!--<img src="img/icons/36/ic_home_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <% } %>
  <% if (vars.isRuleViewOrDecisionView) { %>
  <div class="button share-button">
    <!--<img src="img/icons/36/ic_share_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"></path>
    </svg>
  </div>
  <div class="button folder-button">
    <!--<img src="img/icons/36/ic_create_new_folder_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M20 6h-8l-2-2H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-1 8h-3v3h-2v-3h-3v-2h3V9h2v3h3v2z"></path>
    </svg>
  </div>
  <% } %>
  <div class="button menu-button">
    <!--<img src="img/icons/36/ic_menu_white_36px.svg"/>-->
    <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
    </svg>
  </div>
  <% }//end if isNarrowScreen %>
</div>
