<div class="bg-outer">
  <div class="bg-inner">
    <div class="menu-options">
      <% //####### decision selector %>
      <% //####### buttons %>
      <div class="menu-buttons">
        <button class="menu-button menu-button-overview">Overview</button>
        <button class="menu-button menu-button-search-decisions">Search Decisions</button>
        <button class="menu-button menu-button-rules-of-golf">Rules of Golf</button>
        <button class="menu-button menu-button-explore-decisions">Explore Decisions</button>
        <% if (window.useVideos) { %>
        <button class="menu-button menu-button-videos">Videos</button>
        <% } %>
        <button class="menu-button menu-button-my-decisions">My Decisions</button>
      </div>
    </div>
    <div class="rolex-button"></div>
  </div>
</div>
