<%
//####### now prepare the processing count holders and other variables
var lastMainRule = -1;/*for main-rule*/
var lastSubRule = -1, lastSubMainRule = -1;/*for sub-rule*/
var mainRule, subRule;
var mainRuleNumberText, mainRuleNumberTitle, subRuleNumberText, decisionNumberText, decisionId;
//####### we start with decisions because they are driving the use of either main-rules or both main-rules and sub-rules
%>
<div id="rules-and-decisions-list-wrapper">
  <div id="rules-and-decisions-list" class="rules-list">
    <%
    _.each(vars.decisions, function (decision) {
    //####### main-rule, if any
    if (decision["main_rule_number"] !== lastMainRule) {
    lastMainRule = decision["main_rule_number"];
    mainRule = vars.mainRules[lastMainRule];
    if (mainRule) {
    mainRuleNumberText = mainRule["main_rule_number"].toString();
    %>
    <div id="rsn<%= mainRuleNumberText %>" class="rsn">
      <%
      //#### miscellaneous rule
      if (mainRuleNumberText === "35") {
      mainRuleNumberTitle = "Miscellaneous rule";
      %>
      Misc
      <%
      } else {
      //#### all other rules
      mainRuleNumberTitle = "Rule " + mainRuleNumberText;
      %>
      <%- mainRuleNumberTitle %>
      <% }//end if misc %>
    </div>
    <div id="rdl-r<%= mainRuleNumberText %>" class="rli r" data-rute="<%= mainRuleNumberText %>">
      <div class="rn"><%- mainRuleNumberTitle %></div>
      <%- mainRule["ZMAINRULESTITLE"] %>
    </div>
    <%
    }//end if mainRule
    }//end if last mainRule
    //####### sub-rule, if any
    if (decision["sub_rule_number"] !== lastSubRule || decision["main_rule_number"] !== lastSubMainRule) {
    lastSubRule = decision["sub_rule_number"];
    lastSubMainRule = decision["main_rule_number"];
    subRule = vars.subRules[lastSubMainRule + "-" + lastSubRule];
    if (subRule) {
    subRuleNumberText = subRule["ZRUTE"];
    %>
    <div id="rdl-sr<%= subRuleNumberText %>" class="rli r" data-rute="<%= subRuleNumberText %>">
      <div class="rn">Rule <%- subRuleNumberText %></div>
      <%- subRule["ZSUBRULESTITLE"] %>
    </div>
    <%
    }//end if subRule
    }//end if last subRule
    //####### decision
    decisionNumberText = decision["ZRUTE"];
    decisionId = app.main.makeDecisionIdFromNumberText(decisionNumberText);
    %>
    <div id="rdl-d<%= decisionId %>" class="rli d" data-rute="<%= decisionNumberText %>">
      <div class="rn">Decision <%- decisionNumberText %></div>
      <%- decision["ZDECISIONTITLE"] %>
    </div>
    <% });//end each decision %>
  </div>
</div>
<div id="rule-selector"></div>
