<%
var mainRuleNumberText, mainRuleNumberTitle, listSectionTitle, appendixPrimaryKey;
%>
<div id="rules-list-wrapper" class="content-wrapper">
  <div id="rules-list" class="rules-list">
    <% //####### etiquette and definitions %>
    <div class="rsn">
      Etiquette and Definitions
    </div>
    <div id="rl-e1" class="rli e">
      <div class="rn">E</div>
      Etiquette; Behaviour on the Course
    </div>
    <div id="rl-e2" class="rli e">
      <div class="rn">D</div>
      Definitions
    </div>
    <%
    //####### rules
    _.each(vars.mainRules, function (mainRule) {
    mainRuleNumberText = mainRule["main_rule_number"].toString();
    listSectionTitle = vars.listSections["r" + mainRuleNumberText];
    if (listSectionTitle !== undefined) {
    %>
    <div id="rsn<%= mainRuleNumberText %>" class="rsn">
      <%- listSectionTitle %>
    </div>
    <% }//end if listSections %>
    <div id="rl-r<%= mainRuleNumberText %>" class="rli r" data-rute="<%= mainRuleNumberText %>">
      <div class="rn">
        <%
        if (mainRuleNumberText === "35") {
        mainRuleNumberTitle = "Miscellaneous rule";
        } else {
        mainRuleNumberTitle = "Rule " + mainRuleNumberText;
        }//end if misc
        %>
        <%- mainRuleNumberTitle %>
      </div>
      <%- mainRule["ZMAINRULESTITLE"] %>
    </div>
    <%
    });//end each mainRules
    //####### appendices
    %>
    <div class="rsn">
      Appendices
    </div>
    <%
    _.each(vars.appendices, function (appendix) {
    appendixPrimaryKey = appendix["Z_PK"];
    %>
    <div id="rl-a<%= appendixPrimaryKey %>" class="rli a" data-rute="<%= appendixPrimaryKey %>">
      <div class="rn"><%- appendix["ZAPPENDIXTITLE"].split(" - ")[0] %></div>
      <%- appendix["ZAPPENDIXSUBTITLE"] %>
    </div>
    <% });//end each appendices %>
  </div>
</div>
