<div id="rsw">
  <%
  var ruleNumber, modulus;
  _.each(vars.mainRules, function (mainRule) {
  ruleNumber = mainRule["main_rule_number"].toString();
  modulus = parseInt(ruleNumber) % 2;
  %>
  <div id="rs<%= ruleNumber %>" class="rs <%= modulus ? 'odd' : 'even' %>">
    <%= (ruleNumber === "35") ? "Misc" : ruleNumber %>
  </div>
  <% if (modulus === 0) { %>
  <div id="rb<%= ruleNumber %>" class="rsb">&bull;</div>
  <%
  }//end if modulus
  });//end each
  %>
</div>
