<div id="rule-view-i2" class="full-screen-view with-footer">
  <div id="rule-title-bg"></div>
  <%
  //####### prepare the variables
  var decisionsCount = _.size(vars.decisions);
  var mediaCount = _.size(vars.media);
  var ruleTitle;
  var decisionNumberText, decisionId;
  var mediaPrimaryKey, mediaPicture, mediaPictureDesc, mediaVideo, mediaVideoPath, mediaVideoTitle, mediaVideoDesc;
  //####### rule
  %>
  <div id="rule" class="block">
    <div id="rule-title" class="block-title">
      <%
      ruleTitle = vars.rule["ZRUTE"] || vars.rule["ZRULENUM"];
      if (ruleTitle === "35") {
      %>
      Miscellaneous Rule
      <% } else { %>
      Rule <%- ruleTitle %>
      <% } %>
    </div>
    <div id="rule-content-wrapper">
      <div id="rule-content" class="scroll-content">
        <h3 class="title">
          <%= vars.rule["ZMAINRULESTITLE"] || vars.rule["ZSUBRULESTITLE"] %>
        </h3>
        <% if (decisionsCount) {//1 %>
        <div id="phone-view-decisions-holder" class="phone-view-holder">
          <div id="phone-view-decisions-holder-i" class="phone-view-holder-button">
            <span>View Decisions</span>
            <img class="close" src="img/icons/36/ic_chevron_right_blue_36px.svg"/>
          </div>
        </div>
        <% }//end if decisions 1 %>
        <% if (mediaCount) {//1 %>
        <div id="phone-view-media-holder" class="phone-view-holder">
          <div id="phone-view-media-holder-i" class="phone-view-holder-button">
            <span>View Media</span>
            <img class="close" src="img/icons/36/ic_chevron_right_blue_36px.svg"/>
          </div>
        </div>
        <% }//end if media 1 %>
        <%= vars.rule["ZMAINRULESTXT"] || vars.rule["ZSUBRULESTEXT"] %>
      </div>
    </div>
  </div>
  <%
  //####### decisions
  %>
  <div id="decisions" class="block">
    <div id="decisions-title" class="block-title">
      <% if (decisionsCount) {//2 %>
      Decisions
      <% } else { %>
      No Decisions
      <% }//end if decisions 2 %>
    </div>
    <% if (decisionsCount) {//3 %>
    <div class="scroll-content-border">
      <div id="decisions-content-wrapper" class="side-content-wrapper">
        <div id="decisions-content" class="scroll-content">
          <%
          _.each(vars.decisions, function(decision) {
          decisionNumberText = decision["ZRUTE"];
          decisionId = app.main.makeDecisionIdFromNumberText(decisionNumberText);
          %>
          <div id="r-d<%= decisionId %>" class="dli d" data-rute="<%= decisionNumberText %>">
            <div class="dn"><%- decisionNumberText %></div>
            <%= decision["ZDECISIONTITLE"] %>
          </div>
          <% });//end each decisions %>
        </div>
      </div>
    </div>
    <% }//end if decisions 3 %>
  </div>
  <%
  //####### media
  if (mediaCount) {//1
  %>
  <div id="media" class="block">
    <div id="media-title" class="block-title">
      Media
    </div>
    <div class="scroll-content-border">
      <div id="media-content-wrapper" class="side-content-wrapper">
        <div id="media-content" class="scroll-content">
          <%
          _.each(vars.media, function(media) {
          mediaPicture = media["ZPICTURE"] || "";
          mediaVideo = media["ZVIDEOIMG"] || "";
          if (mediaPicture) {
          mediaPrimaryKey = media["Z_PK"];
          mediaPictureDesc = app.main.convertMediaLinks(media["ZPICTUREDESC"]);
          %>
          <!--suppress XmlDuplicatedId -->
          <div id="m<%= mediaPrimaryKey %>" class="mli mfp-image" data-pk="<%= mediaPrimaryKey %>" data-picture="<%= mediaPicture %>" data-mfp-src="img/media/<%= mediaPicture %>" title="<%= mediaPictureDesc %>">
            <!--suppress HtmlUnknownTarget -->
            <img src="img/media/<%= mediaPicture %>"/>
            <span class="mli-text"><%= mediaPictureDesc %></span>
          </div>
          <%
          } else if (mediaVideo) {
          mediaVideoPath = cordova.file.applicationDirectory + "www/video/" + app.main.cleanVideoFileName(mediaVideo);
          mediaVideoThumb = mediaVideo.replace(/mp4$/, "jpg");
          mediaVideoTitle = media["ZVIDEOTITLE"];
          mediaVideoDesc = app.main.convertMediaLinks(media["ZVIDEODESC"]);
          %>
          <!--suppress XmlDuplicatedId -->
          <!--<div id="m<%= mediaPrimaryKey %>" class="mli mfp-iframe" data-pk="<%= mediaPrimaryKey %>" data-picture="<%= mediaVideo %>" data-mfp-src="<%= mediaVideoPath %>" title="<%= mediaVideoTitle %> &ndash; <%= mediaVideoDesc %>">-->
            <!--&lt;!&ndash;suppress HtmlUnknownTarget &ndash;&gt;-->
            <!--<img src="img/videos/<%= mediaVideoThumb %>"/>-->
            <!--<span class="mli-text"><b><%= mediaVideoTitle %></b> &ndash; <%= mediaVideoDesc %></span>-->
          <!--</div>-->
          <% } %>
          <% });//end each media %>
        </div>
      </div>
    </div>
  </div>
  <% }//end if media 2 %>
</div>
<div id="footer-view">
  <div id="footer-view-i">
    <div class="previous-item">
      <img src="img/icons/24/ic_chevron_left_blue_24px.svg"/>
      <span>Previous Rule</span>
    </div>
    <div class="next-item">
      <span>Next Rule</span>
      <img src="img/icons/24/ic_chevron_right_blue_24px.svg"/>
    </div>
  </div>
</div>
