<form id="search-form">
  <div id="search-input-wrapper">
    <div id="search-input-icon"></div>
    <label for="search-input" class="nv">Search:</label>
    <input id="search-input" autocomplete="off" placeholder="Search Decisions and Rules"/>
  </div>
  <span id="search-result-count">0</span>
  <button type="reset" class="clear-button">Clear</button>
  <button type="submit" class="nv submit-button">Submit</button>
</form>
