<%
var mainRuleNumberText, mainRuleNumberTitle, subRuleNumberText;
%>
<div id="sub-rules-list-wrapper" class="full-screen-view with-footer">
  <div id="sub-rules-list" class="rules-list">
    <img src="img/header_rules02@2x.png" style="max-width: 100%; vertical-align: top;"/>
    <%
    //####### main rule
    mainRuleNumberText = vars.mainRule["main_rule_number"].toString();
    if (mainRuleNumberText === "35") {
    mainRuleNumberTitle = "Miscellaneous rule";
    } else {
    mainRuleNumberTitle = "Rule " + mainRuleNumberText;
    }
    %>
    <div id="srl-r<%= mainRuleNumberText %>" class="rli r" data-rute="<%= mainRuleNumberText %>">
      <div class="rn"><%- mainRuleNumberTitle %></div>
      <%- vars.mainRule["ZMAINRULESTITLE"] %>
    </div>
    <%
    //####### sub rules, if any
    _.each(vars.subRules, function (subRule) {
    subRuleNumberText = subRule["ZRUTE"];
    %>
    <div id="srl-sr<%= subRuleNumberText %>" class="rli r" data-rute="<%= subRuleNumberText %>">
      <div class="rn">Rule <%- subRuleNumberText %></div>
      <%- subRule["ZSUBRULESTITLE"] %>
    </div>
    <% });//end each subRule %>
  </div>
</div>
<div id="footer-view">
  <div id="footer-view-i">
    <div class="previous-item">
      <img src="img/icons/24/ic_chevron_left_blue_24px.svg"/>
      <span>Previous Rule</span>
    </div>
    <div class="next-item">
      <span>Next Rule</span>
      <img src="img/icons/24/ic_chevron_right_blue_24px.svg"/>
    </div>
  </div>
</div>
