<%
var videoPrimaryKey, videoFile, videoPath, videoThumb, videoTitle, videoDesc, videoCaption;
%>
<div id="videos-list-wrapper" class="full-screen-view">
  <div id="videos-list">
    <%
    _.each(vars.videos, function(video) {
    if (video) {
    videoPrimaryKey = video["Z_PK"];
    videoFile = video["ZVIDEOIMG"] || "";
    videoPath = videoFile;
    videoThumb = videoFile.replace(/mp4$/, "jpg");
    videoTitle = video["ZVIDEOTITLE"];
    videoDesc = app.main.convertMediaLinks(video["ZVIDEODESC"]);
    videoCaption = videoTitle + (videoDesc ? (" &ndash; " + videoDesc) : "");
    %>
    <!--suppress XmlDuplicatedId -->
    <div id="m<%= videoPrimaryKey %>" class="mli mfp-iframe" data-pk="<%= videoPrimaryKey %>" data-picture="<%= video %>" data-mfp-src="<%= videoPath %>" title="<%= videoCaption %>">
      <!--suppress HtmlUnknownTarget -->
      <img src="img/videos/<%= videoThumb %>"/>
      <span class="mli-text"><b><%= videoTitle %></b></span>
    </div>
    <% }//end if video %>
    <% });//end each video %>
  </div>
</div>
