<div class="title">About The R&A</div>
<div class="maintext">
  <p>Based in St Andrews, The R&A runs The Open, elite amateur events, international matches and rankings. Together, The R&A and the USGA govern the sport of golf worldwide, operating in separate jurisdictions but sharing a commitment to a single code for the Rules of Golf, Rules of Amateur Status and Equipment Standards. The R&A governs worldwide, outside the United States and Mexico, with the consent of 152 organisations from amateur and professional golf and on behalf of over 30 million golfers in 138 countries.</p>
  <p>
    <img src="img/pages/randa.png" style="float: right; margin: 0 0 20px 20px;"/>The R&A is committed to working for golf and supports the growth of the sport internationally and the development and management of sustainable golf facilities.
  </p>
  <p><img src="img/pages/clubhouse2.png"/></p>
</div>