<div class="title">Amendments to the 2014&ndash;15 Decisions</div>
<div class="maintext">
  <h3>General</h3>
  <p>
    <img src="img/pages/clubhouse.png" style="float: right; margin: 0 0 20px 20px;"/>The R&A and USGA have agreed a two-year revision cycle for the "Decisions on the Rules of Golf". Therefore, no existing Decisions will be revised or withdrawn and no new Decisions will be added to the book until the next edition is published in 2018.
  </p>
  <!--<a href='PlayVideo:fileName=Rules of Golf 2012 15.mp4'><img src='1.png'></img></a>-->
  <h3>New Decisions</h3>
  <ul>
    <li>6-6d/6 Omission of Penalty on Returned Score Card Discovered Before Close of Competition</li>
    <li>6-6d/7 Omission of Multiple Penalties on Returned Score Card Discovered Before Close of Competition</li>
    <li>6-6d/8 Omission of Disqualification Penalty on Returned Score Card Discovered Prior to Close of Competition</li>
    <li>6-6d/9 Omission of Penalty Stroke for Breach of Rule with General Penalty</li>
    <li>6-6d/10 Competitor Correctly Advised by Fellow-Competitor That He Incurred Penalty Disagrees and Fails to Include Penalty in His Score</li>
    <li>8-2a/0.5 Meaning of "Anyone Indicating Line of Play" and "Placing of Mark for Purpose of Indicating Line of Play" in Rule 8-2a</li>
    <li>8-2b/0.5 Meaning of "Indicating Line of Putt" and "Placing of Mark for Purpose of Indicating Line of Putt" in Rule 8-2b</li>
    <li>14-1b/1 Intentionally Holding Forearm Against Body When Making Stroke</li>
    <li>14-1b/2 Meaning of "Anchor Point" in Note 2 to Rule 14-1b</li>
    <li>14-1b/3 Explanation of "Forearm" in Relation to Rule 14-1b</li>
    <li>14-1b/4 Player Anchors Club Prior to Stroke</li>
    <li>14-1b/5 Portion of Stroke Anchored</li>
    <li>14-1b/6 Club or Gripping Hand Inadvertently Touches Body During Stroke</li>
    <li>14-1b/7 Club in Contact with Clothing During Stroke</li>
    <li>14-3/19 Player Uses Training Aid Several Times Prior to Stroke</li>
    <li>14-3/20 Player Uses Artificial Devices on Separate Occasions</li>
    <li>14-3/21 Player Wears Non-Conforming Glove for Multiple Strokes</li>
    <li>18-2/0.5 Weight of Evidence Standard for Determining Whether Player Caused His Ball to Move</li>
    <li>20-7/4 Player Makes Multiple Strokes in Lateral Water Hazard Marked as Environmentally-Sensitive Area from Which Play Prohibited</li>
    <li>23-1/7.5 Loose Impediment Through the Green Moved When Ball Moved or in Process of Ball Being Lifted</li>
    <li>27-2a/5 Player Intends to Drop Provisional Ball After Search for Original Ball Has Commenced; Original Ball Found Within Five Minutes Before Dropped Ball Played</li>
    <li>29/7 Time of Starting in Foursome; Whether Both Partners Must be Present</li>
    <li>31-6/1 Incorrect Score on Hole Returned in Four-Ball Stroke Play Discovered Prior to Close of Competition</li>
    <li>31-7a/3 Omission of Penalty on Returned Score Card Discovered Before Close of Competition; Only Partner Aware of Penalty</li>
    <li>32-1b/1 Incorrect Score on Hole Returned in Stableford Competition Discovered Prior to Close of Competition</li>
    <li>33/2 Player Withdraws from Match Play Competition</li>
    <li>33-8/32 Local Rule for Animal Hoof Damage</li>
    <li>33-8/32.7 Local Rule Providing Relief from Excessive Bird or Animal Dung</li>
    <li>33-8/36.5 Local Rule for Concrete Drainage Channels</li>
  </ul>
  <h3>Revised Decisions</h3>
  <h4 style="margin-bottom: -10px;">1-4/7 Ball Lost in Either Water Hazard or Casual Water Overflowing Hazard</h4>
  <p><em>
    Amended to clarify that there is knowledge or virtual certainty that the ball is lost in the casual water or the water hazard.</em>
  </p>
  <h4 style="margin-bottom: -10px;">1-4/8 Nearest Point of Relief from Cart Path Is in Casual Water; Nearest Point of Relief from Casual Water Is Back on Cart Path</h4>
  <p><em>
    Point 3 in the procedure is amended to clarify that the player may take relief from both conditions if the nearest point of relief is in such a position that there would be interference by the casual water (i.e. with lie of ball, stance or area of intended swing).</em>
  </p>
  <h4 style="margin-bottom: -10px;">1-4/9 Bird's Nest Interfering with Stroke</h4>
  <p><em>
    Amended to clarify that Rule 26 or Rule 28 remain an option, if applicable.</em></p>
  <h4 style="margin-bottom: -10px;">1-4/10 Dangerous Situation; Rattlesnake or Bees Interfere with Play</h4>
  <p><em>
    Amended to clarify that Rule 26 or Rule 28 remain an option, if applicable.</em></p>
  <h4 style="margin-bottom: -10px;">1-4/12 Player Breaches Rules More Than Once Prior to Stroke; Whether Multiple Penalties Should Be Applied</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">3-3/1 Provisional Ball Used as Second Ball When Not Determinable Whether Original Ball Is Out of Bounds</h4>
  <p><em>
    Amended due to the revision to Rule 3-3.</em></p>
  <h4 style="margin-bottom: -10px;">3-3/5 Whether Score with Second Ball Counts If Ball Dropped in Wrong Place and Played</h4>
  <p><em>
    Amended due to the revision to Rule 3-3.</em></p>
  <h4 style="margin-bottom: -10px;">3-3/6 Competitor Plays Original Ball After Doubtful Situation Has Arisen and Then Invokes Rule 3-3</h4>
  <p><em>
    Amended due to the revision to Rule 3-3.</em></p>
  <h4 style="margin-bottom: -10px;">3-3/10 Competitor Plays Three Balls When Doubtful of Rights</h4>
  <p><em>
    Amended due to the revision to Rule 3-3.</em></p>
  <h4 style="margin-bottom: -10px;">3-3/14 Competitor Invokes Rule 3-3; Second Ball Played First</h4>
  <p><em>
    Amended due to the revision to Rule 3-3 and the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">4-4c/1 Excess Club Declared Out of Play Before Round</h4>
  <p><em>
    Revised to provide narrow circumstances where a player declaring a club out of play before the start of the round, but keeping the club in his possession, will not be penalised under Rule 4-4a.</em>
  </p>
  <h4 style="margin-bottom: -10px;">6-6a/5 Marker Attests Wrong Score Knowingly But Competitor Unaware Score Wrong</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d.</em></p>
  <h4 style="margin-bottom: -10px;">6-6b/7 Alteration to Score by Competitor After Marker has Signed Score Card</h4>
  <p><em>
    Expanded to cover additional related situations.</em></p>
  <h4 style="margin-bottom: -10px;">6-6d/5 Spectators Allege Competitor's Score Incorrect</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d.</em></p>
  <h4 style="margin-bottom: -10px;">6-8b/1 What Constitutes Discontinuance of Play</h4>
  <p><em>
    Amended to provide greater clarity on the meaning of continuing the play of the hole "without delay" under Rule 6-8b.</em>
  </p>
    <h4 style="margin-bottom: -10px;">8/2 Team Captain Gives Advice While Playing</h4>
  <p><em>
    Expanded for clarity.</em></p>
  <h4 style="margin-bottom: -10px;">8-2b/1 Caddie Casts Shadow to Indicate Line of Putt</h4>
  <p><em>
    Amended in view of language change in Rule 8-2b.</em></p>
  <h4 style="margin-bottom: -10px;">8-2b/2 Caddie Attending Flagstick Advises Player to Aim at His Foot</h4>
  <p><em>
    Amended in view of language change in Rule 8-2b.</em></p>
  <h4 style="margin-bottom: -10px;">8-2b/4 Whether Team Captain Who Is Authorised to Give Advice May Be Required to Keep Off Putting Greens</h4>
  <p><em>
    Amended in view of language change in Rule 8-2b.</em></p>
  <h4 style="margin-bottom: -10px;">9-2/3.5 Player Refuses to Tell Opponent How Many Strokes He Has Taken</h4>
  <p><em>
    Amended to clarify that the penalty applies only if A does not provide the requested information prior to B making his next stroke or, in the case of the hole just completed, prior to any player making a stroke from the next teeing ground.</em>
  </p>
  <h4 style="margin-bottom: -10px;">11-3/1 Stroke Misses Ball; Ball Then Accidentally Knocked Off Tee</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/0.5 Meaning of "Improve" in Rule 13-2</h4>
  <p><em>
    Examples added relating to changes made in a bunker on the line of play to clarify "potential advantage" in such cases.</em>
  </p>
  <h4 style="margin-bottom: -10px;">13-2/8 Player's Lie or Line of Play Affected by Pitch-Mark Made by Partner's, Opponent's or Fellow-Competitor's Ball</h4>
  <p><em>
    Reference to "area of intended swing" added.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/13 Bending Grass in Removal of Loose Impediments</h4>
  <p><em>
    Amended to clarify that the loose impediment could not be moved if the ball and loose impediment lay in the same hazard.</em>
  </p>
  <h4 style="margin-bottom: -10px;">13-2/25 Player Removes Boundary Post on Line of Play But Replaces It Before Playing</h4>
  <p><em>
    Amended to clarify that the act improved the line of play.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/29 Worsening and Then Restoring Line of Play</h4>
  <p><em>
    Question amended to clarify that the improvement to the line of play created a potential advantage.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/32 Improving Line of Play by Removing Stone from Wall</h4>
  <p><em>
    Amended to clarify that the act improved the line of play.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/33 Outside Agency Removes Immovable Obstruction on Player's Line of Play</h4>
  <p><em>
    Amended to clarify that the act improved the line of play.</em></p>
  <h4 style="margin-bottom: -10px;">13-4/33 Bunker Covered by Leaves; Player Touches Leaves During Backswing</h4>
  <p><em>
    Amended to clarify that the Local Rule can apply to any accumulations of loose impediments, not just leaves.</em>
  </p>
  <h4 style="margin-bottom: -10px;">14/4 Club Breaks During Downswing; Swing Stopped Short of Ball; Clubhead Falls and Moves Ball</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/0.5 Local Rule Permitting Use of Distance-Measuring Device</h4>
  <p><em>
    Amended due to the revision to Appendix IV, Section 5, which provides for a breach of Rule 14-3 only if the device (when permitted by Local Rule) is used for any purposes that are prohibited by Rule 14-3.</em>
  </p>
  <h4 style="margin-bottom: -10px;">14-3/0.7 Player Obtains Distance Information Measured with Electronic Device</h4>
  <p><em>
    Amended due to the revision to the penalty statement in Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/5.5 Electronic Device Providing Distances Between Various Points</h4>
  <p><em>
    Amended due to the revision to Appendix IV, Section 5.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/6 Holding Ball in Hand Against Grip When Putting</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/6.5 Holding Ball in Hand Against Grip for Practice Swings or Practice Strokes</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/7 Player with Injured Right Wrist Inserts Left Thumb Under Elastic Bandage on Right Wrist and Hand</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/8 Adhesive Tape</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/9 Player Putts with One Hand and Steadies Himself with Club Held in Other Hand</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/10.3 Use of Rod During Round for Alignment or as Swing Aid</h4>
  <p><em>
    Amended due to the revision to the penalty statement in Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/10.5 Use of Stretching Devices</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/12.5 Bottled Drink Used as a Level</h4>
  <p><em>
    Amended to refer to "abnormal" use of equipment in line with the revision to Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/16 Use of Electronic Devices</h4>
  <p><em>
    Amended due to the revision to the penalty statement in Rule 14-3.</em></p>
  <h4 style="margin-bottom: -10px;">14-3/18 Weather Information Accessed on Multi-Functional Device</h4>
  <p><em>
    Reference to a "thermometer" removed as temperature is not considered to affect a player's play as contemplated under Appendix IV, Section 5.</em>
  </p>
  <h4 style="margin-bottom: -10px;">14-5/1 Ball Moving During Backswing Struck While Still Moving</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">15/7 Wrong Ball Played in Belief It Is Provisional or Second Ball</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">16/4 Hole-Liner Not Sunk Deep Enough</h4>
  <p><em>
    Amended to provide authority to a player to move the hole-liner when a member of the Committee is not available.</em>
  </p>
  <h4 style="margin-bottom: -10px;">18/4 Television Evidence Shows Ball at Rest Changed Position But by Amount Not Reasonably Discernible to Naked Eye</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/1 Player Who Misses Tee Shot Tees Ball Lower Before Making Next Stroke</h4>
  <p><em>
    Amended to confirm that, as the player proceeded under Rule 20-5, Rule 18-2 does not apply.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/2 Ball Falling Off Tee When Stroke Just Touches It Is Picked Up and Re-Teed</h4>
  <p><em>
    Amended to confirm that, as the player proceeded under Rule 20-5, Rule 18-2 does not apply.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/11 Tee Shot Wrongly Thought to Be Out of Bounds Lifted; Competitor Plays Another Ball from Tee</h4>
  <p><em>
    Amended to confirm that, as the player proceeded under Rule 20-5, Rule 18-2 does not apply.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/27 Player Wishes to Dislodge Ball in Tree and Proceed Under Unplayable Ball Rule</h4>
  <p><em>
    Amended to clarify that, to avoid penalty under Rule 18-2, the player must announce that he intends to proceed under the unplayable ball Rule or it must be reasonable to assume from his actions that he intends to do so.</em>
  </p>
  <h4 style="margin-bottom: -10px;">18-2/28 Ball Dislodged from Tree; Player Had No Intention to Proceed Under Unplayable Ball Rule</h4>
  <p><em>
    Amended for consistency with Decision 18-2/27 and to clarify that a player can elect to proceed directly under Rule 28 rather than replace the ball.</em>
  </p>
  <h4 style="margin-bottom: -10px;">18-2/29 Procedure for Player after Dislodging His Ball from Tree</h4>
  <p><em>
    Amended to refer to Decision 18-2/28 and to clarify that a player can elect to proceed directly under Rule 28 rather than replace the ball in situations (1) and (2) in the Decision.</em>
  </p>
  <h4 style="margin-bottom: -10px;">19-1/7 Ball Picked Up or Deflected by Dog After Stroke on Putting Green</h4>
  <p><em>
    Amended to clarify that a dog is an animate outside agency and to provide an explanation of what is meant by the term "animate outside agency".</em>
  </p>
  <h4 style="margin-bottom: -10px;">19-2/1.5 Ball Moves and Is Accidentally Stopped by Player's Club; Player Removes Club and Ball Moves Away</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">19-2/7 Ball Strikes Player's Golf Bag and Then His Caddie</h4>
  <p><em>
    Amended to refer to Decision 1-4/12 as authority for the Answer.</em></p>
  <h4 style="margin-bottom: -10px;">19-2/10 Ball Stopped or Deflected by Rake Held by Player's Caddie</h4>
  <p><em>
    Amended to refer to new Note 2 in the Definition of "Equipment".</em></p>
  <h4 style="margin-bottom: -10px;">19-5/1.5 Ball Lifted and Replaced; Ball Then Rolls and Strikes Ball on Putting Green</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">20-1/15.5 Lie Altered By Act of Marking Position of Ball</h4>
  <p><em>
    Revised for clarity and to reference creating a potential advantage if the lie is restored.</em></p>
  <h4 style="margin-bottom: -10px;">20-1/16 Method Used to Mark Position of Ball</h4>
  <p><em>
    Amended in view of language change in Rule 8-2b.</em></p>
  <h4 style="margin-bottom: -10px;">20-2a/4 Ball Dropped in Improper Manner Moves When Addressed; Player Then Lifts Ball and Drops It in Proper Manner</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">20-3d/1 Placed Ball Rolls into Hole</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">20-3d/3 Ball in Rough Moves Downward When Addressed; Ball Will Not Remain at Rest When Replaced</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">23-1/7 Loose Impediment in Hazard Moved in Process of Ball Being Lifted</h4>
  <p><em>
    The scope of the Decision is narrowed to deal with a ball and a loose impediment in a hazard. New Decision 23-1/7.5 covers the situation where the ball lies through the green.</em>
  </p>
  <h4 style="margin-bottom: -10px;">23-1/8 Removal of Loose Impediments Likely to Cause Ball to Move; Loose Impediments Removed Before Ball Replaced</h4>
  <p><em>
    The scope of the Decision is widened to include cases where the ball is moved and must be replaced, and to clarify that the provisions of the Decision do not apply when the lifted or moved ball has to be dropped under Rule 20-3c.</em>
  </p>
  <h4 style="margin-bottom: -10px;">23-1/12 After Ball Addressed on Putting Green Ball Moved in Removal of Loose Impediment</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">25-2/0.5 When Ball Embedded in Ground</h4>
  <p><em>
    The text relating to the first illustration is amended to refer to the ball being embedded in its own pitch mark and the third illustration is revised to demonstrate that a ball can be completely covered in grass but not be embedded as it is not below the level of the
    ground.</em></p>
  <h4 style="margin-bottom: -10px;">26-1/10 Placing Ball on Bank of Water Hazard Instead of Dropping to Prevent Ball Rolling into Water</h4>
  <p><em>
    Amended due to revision to Rule 26-2.</em></p>
  <h4 style="margin-bottom: -10px;">26-2/1 Explanation of Options Under Rules 26-2a and 26-2b</h4>
  <p><em>
    Amended due to revision to Rule 26-2.</em></p>
  <h4 style="margin-bottom: -10px;">26-2/2 Ball Played from Within Hazard Comes to Rest in Same Hazard After Exiting Hazard</h4>
  <p><em>
    Amended due to revision to Rule 26-2.</em></p>
  <h4 style="margin-bottom: -10px;">27-2a/1 Announcement of Provisional Ball</h4>
  <p><em>
    Amended in view of language change in Rule 27-2a.</em></p>
  <h4 style="margin-bottom: -10px;">29-1/5 Order of Play If Player Accidentally Causes Ball to Move</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">30/2.5 Player Touches Putting Green in Pointing Out Line of Putt for Partner and Touches Own Line of Putt</h4>
  <p><em>
    Amended in view of language change in Rule 8-2b.</em></p>
  <h4 style="margin-bottom: -10px;">31-7a/1 Competitor Records Score for Hole Not Completed</h4>
  <p><em>
    Amended for clarity, and for consistency with new Decision 31-6/1.</em></p>
  <h4 style="margin-bottom: -10px;">33-7/4 Modifying Penalty for Returning Wrong Score</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d.</em></p>
  <h4 style="margin-bottom: -10px;">34-1b/7 Wrong Score in Qualifying Round Discovered During Match Play</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d and the Question is revised to consider a player who knew he had incurred a penalty.</em>
  </p>
  <h4 style="margin-bottom: -10px;">34-1b/8 Player Who Has Advanced to Match Play is Disqualified for Wrong Score in Qualifying Round</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d and additional options provided to the Committee.</em>
  </p>
  <h4 style="margin-bottom: -10px;">34-3/1 Correction of Incorrect Ruling in Stroke Play</h4>
  <p><em>
    Amended due to the introduction of the Exception to Rule 6-6d.</em></p>
  <h4 style="margin-bottom: -10px;">34-3/7 Referee Determines Player Did Not Cause Ball to Move; Committee Subsequently Changes Ruling</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">34-3/8 Player Proceeds on Basis of Ruling; Player's Version of Facts Subsequently Found to Be Incorrect</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">34-3/9 Resolution of Questions of Fact; Referee and Committee Responsibility</h4>
  <p><em>
    Amended due to withdrawal of some of the Decisions previously referenced.</em></p>
  <h3>Re-Numbered Decisions</h3>
  <p>All Decisions that were previously numbered under Rule 14-1 are now numbered under Rule 14-1a and those previously numbered Rule 18-2a are now numbered under Rule 18-2. Where appropriate, the Rules references in these Decisions have also been amended.</p>
  <h4 style="margin-bottom: -10px;">18-2/5 Ball Moves After Player Takes Practice Swings Near Ball and Comes to Rest Out of Bounds; Player Plays Ball (Revised - Formerly 18-2b/9)</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/6 Ball Moves After Address and Is Stopped by Player's Club (Revised - Formerly 18-2b/12)</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2/24 Ball Falls into Hole After Being Addressed (Revised - Formerly 18-2b/10)</h4>
  <p><em>
    Amended due to the withdrawal of Rule 18-2b.</em></p>
  <h3>Decisions to be Withdrawn</h3>
  <h4 style="margin-bottom: -10px;">3-3/0.5 Guidelines for Determining Which Ball Counts When Player Proceeds Under Rule 3-3</h4>
  <p><em>
    Provisions now covered by revised Rule 3-3.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/11 Removing Sand or Loose Soil from Dropping Area</h4>
  <p><em>
    Considered to be clearly covered by Rule 13-2.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/21 Area of Intended Swing Improved by Repairing Pitch by Mark Made by Ball on Previous Stroke</h4>
  <p><em>
    Considered to be clearly covered by Rule 13-2.</em></p>
  <h4 style="margin-bottom: -10px;">13-2/28 Smoothing Irregularities in Bunker Situated Between Ball and Hole</h4>
  <p><em>
    Now covered under expanded Decision 13-2/0.5.</em></p>
  <h4 style="margin-bottom: -10px;">18/10 Ball Falls into Bunker When Person Walks Nearby</h4>
  <p><em>
    The test for whether a player caused his ball to move is now
    covered under new Decision 18-2/0.5 and the test for whether an outside agency caused a ball to move is covered under the Note
    to Rule 18-1.</em></p>
  <h4 style="margin-bottom: -10px;">18-2a/30 Ball Moves After Player Takes Several Practice Swings Near Ball and Touches Grass Behind Ball</h4>
  <p><em>
    The test for whether a player caused his ball to move is now covered under new Decision 18-2/0.5.</em></p>
  <h4 style="margin-bottom: -10px;">18-2a/30.5 Ball Moves After Removal of Loose Impediment Near Ball</h4>
  <p><em>
    The test for whether a player caused his ball to move is now covered under new Decision 18-2/0.5.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/1 Ball Moves After Address; Movement May Have Been Due to the Effects of Gravity</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/2 Ball Addressed in Hazard</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/3 Ball Moves After Player Has Taken Stance in Bunker</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/4 Ball Moves After Player Grounds Club Short Distance Behind Ball But Before Grounding Club Immediately Behind Ball</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/5 Ball Moves When Club Rested on Grass Immediately Behind Ball</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/5.5 Placing Clubhead on Ground in Front of Ball When Addressing</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/7 Ball Moves After Player Addresses It and Then Steps Away</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/8 Player Addresses Ball, Steps Away, Lifts Ball and Replaces It; Ball Then Moves</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">18-2b/11 Ball Moved by Another Agency After Address</h4>
  <p><em>
    Withdrawn due to the withdrawal of Rule 18-2b.</em></p>
  <h4 style="margin-bottom: -10px;">33-7/4.5 Competitor Unaware of Penalty Returns Wrong Score; Whether Waiving or Modifying Disqualification Penalty Justified</h4>
  <p><em>
    Withdrawn due to the introduction of the Exception to Rule 6-6d. In all of the bullet point scenarios in the withdrawn Decision, the Exception to Rule 6-6d would now apply.</em>
  </p>
</div>
