<div class="title">Etiquette; Behaviour on the course</div>
<div class="maintext">
  <h2>Introduction</h2>
  <p class='Rule Definitiion'>This section provides guidelines on the manner in which the game of golf should be played. If they are followed, all players will gain maximum enjoyment from the game. The overriding principle is that consideration should be shown to others on the course at all times.</p>
  <!-- <img class="image" src="img/etiquette/Etiquette-Introduction-hand.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Tiger-James.ashx.jpeg"> -->
  <h2>The Spirit of the Game</h2>
  <p>Golf is played, for the most part, without the supervision of a referee or umpire. The game relies on the integrity of the individual to show consideration for other players and to abide by the Rules. All players should conduct themselves in a disciplined manner, demonstrating courtesy and sportsmanship at all times, irrespective of how competitive they may be. This is the spirit of the game of golf.</p>
  <!-- <img class="image" src="img/etiquette/Etiq-Spirit-of-the-Game.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Spirit-Faldo-Normanjpg.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Spirit-Norman.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Spirit-Solheim.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Spirit-Watson.ashx.jpeg"> -->
  <h2>Safety</h2>
  <p class='Rule Definitiion'>Players should ensure that no one is standing close by or in a position to be hit by the club, the ball or any stones, pebbles, twigs or the like when they make a&nbsp;stroke or practice swing.</p>
  <p class='Rule Definitiion'>Players should not play until the players in front are out of range. </p>
  <p class='Rule Definitiion'>Players should always alert greenstaff nearby or ahead when they are about to make a&nbsp;stroke that might endanger them.</p>
  <p class='Rule Definitiion'>If a player plays a ball in a direction where there is a danger of hitting someone, he should immediately shout a warning. The traditional word of warning in such situations is &ldquo;fore&rdquo;.</p>
  <!-- <img class="image" src="img/etiquette/Etiq-Safety.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiq-Safety-Monty.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Safety.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Safety-Walker-Cup.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Safety-Bell.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Safety-spotter.ashx.jpeg"> -->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">What are the Rules on the clothes that golfers may wear?</p>-->
  <!---->
  <!--				<p class="Answer">The Rules of Golf do not cover the clothes that golfers may wear. It is for individual clubs and Committees to decide what clothing is and is not acceptable on the golf course and in the clubhouse.</p>-->
  <!--			</div>-->
  <!---->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">Why do golfers shout "fore"?</p>-->
  <!---->
  <!--				<p class="Answer">As is often the situation with questions about the origins of golfing terms, there really is not a definite answer. It seems that the term “fore” has some relation to the forecaddie. The forecaddie was, and remains, a person employed to go ahead of players to indicate the positions of balls in play. It may be that, over time, the word forecaddie was shortened when yelled as a warning to this person and the word has remained in use since. In 1881, Robert Forgan in his book, The Golfer's Handbook, makes the following reference '...shouts 'Fore!' to give the alarm to anyone in his way,' indicating that the term has been in use for some time.</p>-->
  <!--			</div>-->
  <h2>Consideration for Other Players</h2>
  <p class='Rule Definitiion'><strong>No Disturbance or Distraction</strong></p>
  <p class='Rule Definitiion'>Players should always show consideration for other players on the course and should not disturb their play by moving, talking or making unnecessary noise.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players should ensure that any electronic device taken onto the course does not distract other players.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>On the teeing ground, a player should not tee his ball until it is his turn to play.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players should not stand close to or directly behind the ball, or directly behind the hole, when a player is about to play.</p>
  <p class='Rule Definitiion'><strong>On the Putting Green</strong></p>
  <p class='Rule Definitiion'>On the putting green, players should not stand on another player&rsquo;s line of putt or, when he is making a stroke, cast a shadow over his line of putt.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players should remain on or close to the putting green until all other players in the group have holed out.</p>
  <p class='Rule Definitiion'><strong>Scoring</strong></p>
  <p class='Rule Definitiion'>In stroke play, a player who is acting as a marker should, if necessary, on the way to the next tee, check the score with the player concerned and record it.</p>
  <!-- <img class="image" src="img/etiquette/Etiquette-Consideration-on-the-putting-green.ashx.jpeg"> -->
  <h2>Pace of Play</h2>
  <p class='Rule Definitiion'><strong>Play at Good Pace and Keep Up</strong></p>
  <p class='Rule Definitiion'>Players should play at a good pace. The Committee may establish pace of play guidelines that all players should follow. </p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>It is a group&rsquo;s responsibility to keep up with the group in front. If it loses a clear hole and it is delaying the group behind, it should invite the group behind to play through, irrespective of the number of players in that group. Where a group has not lost a clear hole, but it is apparent that the group behind can play faster, it should invite the faster moving group to play through.</p>
  <p class='Rule Definitiion'><strong>Be Ready to Play</strong></p>
  <p class='Rule Definitiion'>Players should be ready to play as soon as it is their turn to play.</p>
  <p class='Rule Definitiion'>When playing on or near the putting green, they should leave their bags or carts in such a position as will enable quick movement off the green and towards the next tee. When the play of a hole has been completed, players should immediately leave the putting green.</p>
  <p class='Rule Definitiion'><strong>Lost Bal</strong>l</p>
  <p class='Rule Definitiion'>If a player believes his ball may be lost outside a water hazard or is out of bounds, to save time, he should play a provisional ball. </p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players searching for a ball should signal the players in the group behind them to play through as soon as it becomes apparent that the ball will not easily be found.They should not search for five minutes before doing so. Having allowed the group behind to play through, they should not continue play until that group has passed and is out of range.</p>
  <!-- <img class="image" src="img/etiquette/Etiquette-pace-of-play.ashx.jpeg"> -->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">Does a single golfer have any standing on the golf course?</p>-->
  <!---->
  <!--				<p class="Answer">The etiquette section suggests that, unless otherwise determined by the Committee, priority on the course is determined by a group's pace of play. Group size is unimportant, it is more about the speed of the group. The term 'group' includes a single player. </p>    <p> The Pace of Play section also states that, 'It is a group's responsibility to keep up with the group in front. If it loses a clear hole and it is delaying the group behind, it should invite the group behind to play through, irrespective of the number of players in that group. Where a group has not lost a clear hole, but it is apparent that the group behind can play faster, it should invite the faster moving group to play through.'</p>    <p> Different players play at different speeds. Whilst groups should not have to run round the course, players should be aware of the fact that there are other players on the course at the same time and they should, therefore, act with common sense and courtesy towards those other players. That common sense and courtesy applies to the faster players as well; they should not expect to make their way round a very busy golf course, players through every group without the slightest delay.</p>-->
  <!--			</div>-->
  <!---->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">When should you let the group behind play through?</p>-->
  <!---->
  <!--				<p class="Answer">The Pace of Play section states that, 'It is a group's responsibility to keep up with the group in front.' Players need to be mindful of other players on the course and, whilst there are no hard and fast Rules as to when you should let the group behind through, there are certainly some situations that are more obvious than others:</p>    <ul>      <li>if your group loses a clear hole and it is delaying the group behind, </li>      <li>where your group has not lost a clear hole, but it is apparent that the group behind can play faster, and </li>      <li>where you are searching for a ball and it becomes apparent that the ball will not easily be found. </li>    </ul>-->
  <!--			</div>-->
  <h2>Priority on the Course</h2>
  <p class='Rule Definitiion'>Unless otherwise determined by the Committee, priority on the course is determined by a group&rsquo;s pace of play. Any group playing a whole round is entitled to pass a group playing a shorter round. The term &ldquo;group&rdquo; includes a single player.</p>
  <h2>Care of the Course</h2>
  <p class='Rule Definitiion'><strong>Bunkers</strong></p>
  <p class='Rule Definitiion'>Before leaving a bunker, players should carefully fill up and smooth over all holes and footprints made by them and any nearby made by others. If a rake is within reasonable proximity of the bunker, the rake should be used for this purpose.</p>
  <p class='Rule Definitiion'><strong>Repair of Divots, Ball-Marks and Damage by Shoes</strong></p>
  <p class='Rule Definitiion'>Players should carefully repair any divot holes made by them and any damage to the putting green made by the impact of a ball (whether or not made by the player himself). On completion of the hole by all players in the group, damage to the putting green caused by golf shoes should be repaired.</p>
  <p class='Rule Definitiion'><strong>Preventing Unnecessary Damage</strong></p>
  <p class='Rule Definitiion'>Players should avoid causing damage to the course by removing divots when taking practice swings or by hitting the head of a club into the ground, whether in anger or for any other reason.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players should ensure that no damage is done to the putting green when putting down bags or the flagstick.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>In order to avoid damaging the hole, players and caddies should not stand too close to the hole and should take care during the handling of the flagstick and the removal of a ball from the hole. The head of a club should not be used to remove a ball from the hole.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Players should not lean on their clubs when on the putting green, particularly when removing the ball from the hole.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>The flagstick should be properly replaced in the hole before the players leave the putting green.</p>
  <p class='Rule Definitiion'></p>
  <p class='Rule Definitiion'>Local notices regulating the movement of golf carts should be strictly observed.</p>
  <!-- <img class="image" src="img/etiquette/Etiq-Prevent-unneces-damage.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiq-Repair-of-divots.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiq-Repair-of-Divots-Pitch-Damage.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiq-Care-of-the-Course-Sergio.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-Divots.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-Flag.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-of-the-Cours.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-Sign.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-Watson.ashx.jpeg"> -->
  <!-- <img class="image" src="img/etiquette/Etiquette-Care-of-the-Course-Sign.ashx.jpeg"> -->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">Should rakes be placed in or outside bunkers?</p>-->
  <!---->
  <!--				<p class="Answer">There is not a perfect answer for the position of rakes, but on balance it is felt there is less likelihood of an advantage or disadvantage to the player if rakes are placed outside bunkers.  It may be argued that there is more likelihood of a ball being deflected into or kept out of a bunker if the rake is placed outside the bunker. It could also be argued that if the rake is in the bunker it is most unlikely that the ball will be deflected out of the bunker.</p>    <p>However, in practice, players who leave rakes in bunkers frequently leave them at the side which tends to stop a ball rolling into the flat part of the bunker, resulting in a much more difficult shot than would otherwise have been the case. This is most prevalent at a course where the bunkers are small. When the ball comes to rest on or against a rake in the bunker and the player must proceed under Rule 24-1, it may not be possible to replace the ball on the same spot or find a spot in the bunker which is not nearer the hole — see Decision 20-3d/2.</p>    <p>If rakes are left in the middle of the bunker, the only way to position them is to throw them into the bunker and this causes damage to the surface. Also, if a rake is in the middle of a large bunker, it is either not used or the player is obliged to rake a large area of the bunker, resulting in unnecessary delay.</p>    <p>Therefore, after considering all these aspects, it is recommended that rakes should be left outside bunkers in areas where they are least likely to affect the movement of the ball. </p>    <p>Ultimately, it is a matter for the Committee to decide where it wishes rakes to be placed. See Decision Misc./2.</p>-->
  <!--			</div>-->
  <!---->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">Should players repair spike marks on the putting green?</p>-->
  <!---->
  <!--				<p class="Answer">On completion of the hole by all the players in the group, spike marks should be repaired. The repair of spike marks on the putting green prior to completion of the hole may be contrary to Rule 16-1c (Repair of Hole Plugs, Ball Marks and Other Damage) if it might assist the player in his play of the hole. </p>    <p>Since it is not always possible to distinguish spike marks from other damage or irregularities of surface, allowing the repair of spike marks would, in effect, permit the player to repair any damage or irregularity of surface on the putting green. This is contrary to the fundamental principle of “playing the course as you find it” and would undoubtedly lead to an increase in slow play as each player attempted to perfect his line of putt.</p>-->
  <!--			</div>-->
  <h2>Conclusion; Penalties for Breach</h2>
  <p>If players follow the guidelines in this section, it will make the game more enjoyable for everyone.</p>
  <p>If a player consistently disregards these guidelines during a round or over a period of time to the detriment of others, it is recommended that the Committee considers taking appropriate disciplinary action against the offending player. Such action may, for example, include prohibiting play for a limited time on the course or in a certain number of competitions. This is considered to be justifiable in terms of protecting the interests of the majority of golfers who wish to play in accordance with these guidelines.</p>
  <p>In the case of a serious breach of etiquette, the Committee may disqualify a player under Rule 33-7.</p>
  <!-- <img class="image" src="img/etiquette/Etiquette-Conclusion-stenson.ashx.jpeg"> -->
  <!--			<div class="FAQ">-->
  <!--				<p class="Question">The Etiquette section states that 'in the case of a serious breach of etiquette, the Committee may disqualify a player under Rule 33-7.' What is meant by a 'serious breach of etiquette?'</p>-->
  <!---->
  <!--				<p class="Answer">A serious breach of etiquette is behaviour by a player that shows a significant disregard for an aspect of the Etiquette Section, such as intentionally distracting another player or intentionally offending someone.</p>    <p>Although a Committee may disqualify a player under Rule 33-7 for a single act that it considers to be a serious breach of etiquette, in most cases it is recommended that such a penalty should be imposed only in the event of a further serious breach.</p>    <p> Ultimately, the application of a penalty for a serious breach of etiquette under Rule 33-7 is at the discretion of the Committee. See Decision 33-7/8 for further guidance.</p>-->
  <!--			</div>-->
</div>