<div class="title">Guide to the Decisions</div>
<div class="maintext">
  <p>
    <img src="img/pages/book.png" width="254" height="400" style="float: right; margin: 0 0 40px 20px;"/>Each year, the United States Golf Association (USGA) and The R&A receive thousands of enquiries regarding clarification of the Rules of Golf. In order to help millions of golfers around the world better understand how these detailed Rules are applied and interpreted, the USGA and The R&A develop the comprehensive Decisions on the Rules of Golf. The format is geared towards questions and answers and is designed to be used as a reference for golf administrators and those with an interest in the Rules of the game.
  </p>
  <p>Since 1951, the USGA and The R&A have been meeting regularly in order to establish a uniform code of Rules. However, each year brings about new questions that are not specifically addressed in the Rules of Golf, requiring Committees from both organisations to meet to discuss these new questions and arrive at a decision with which both the USGA and The R&A agree. Many of these agreed positions then find their way into the Decisions on the Rules of Golf, which is amended every two years in order to keep up with the ever evolving game of golf.</p>
  <p>The purpose of the Decisions on the Rules of Golf is to clarify matters that may not be entirely clear from the Rules of Golf. The Rules of Golf should be consulted in the first instance, but if a question cannot be answered by reference to the Rules, the solution may be found in the 'Decisions book or app'.</p>
  <p>The Decisions book and app also contain the full text of the Rules of Golf. The Rules of Golf are amended every four years and the latest edition of the Rules became effective on 1 January 2016.</p>
  <p>In the Decisions book and app, Decisions are listed under the Rule number and sub section that is considered most pertinent to the facts of the case. For example, if a Decision relates to the removal of a loose impediment in a hazard, it will be listed under Rule 13-4 (Ball in Hazard; Prohibited Actions) as 13-4/#.</p>
  <p>Decisions that apply generally to an entire Rule may simply be listed by the Rule number, followed by a number. For example, if a Decision relates to whether a ball at rest is deemed to have moved, it will be listed under Rule 18 (Ball at Rest Moved), as 18/#.</p>
  <p>If a Decision has been introduced for the first time to the latest edition of the book or app, the word 'New' is contained in parenthesis at the end of the Decision. If an existing Decision has been amended in the latest edition of the book or the app, the word 'Revised' is contained in parenthesis at the end of the Decision. In addition, Decisions are sometimes withdrawn because they are no longer necessary, or re-numbered so that they can be more easily accessed by the reader. For ease of reference, all the amendments to the previous edition of the Decisions are contained in the section entitled 'Amendments to the 2014-2015 Edition'.</p>
  <p>Where a Decision number is listed as 'Reserved' this means that this Decision has been withdrawn at some point in the past but, rather than re-number the Decisions following it, the number is held in reserve until a new Decision is introduced and given the vacant number.</p>
</div>
