<div class="title">How To Use This App</div>
<div class="maintext">
  <p>Please note that this app is developed to work on Android 4.4 and above.</p>
  <p>Below are are guides to help use the main functions of the app, an up-to-date FAQ is maintained <a href='http://aimermedia.com/decisionsfaq/'>here</a>. If you have any issues using the app please <a href='mailto:AndroidDecisions@aimermedia.com'>contact us</a>.</p>
  <h3>The Rules</h3>
  <p>The full text of the Rules of Golf is included within the 'Rules of Golf' section, along with a section on Etiquette, a full list of Definitions and four Appendices. Tap the section you want to view and then select the relevant sub-section.</p>
  <p>When viewing a Rule you will see the full text, along with a list of Decisions related to the Rule (where available), and images and videos that help to illustrate or explain the Rule (where available).</p>
  <p>When text is shown in blue, it's a hyperlink - you can tap the hyperlink to see the relevant Rule or Definition referred to.</p>
  <h3>The Decisions</h3>
  <p>Finding the right Decision is simple and swift. You can search the Decisions in a number of ways:</p>
  <ul>
    <li>By performing a search</li>
    <li>By browsing the Rules and their related Decisions (see above)</li>
    <li>By entering the specific Decision number if you know it - you can do this in 'Explore Decisions', using the Decisions Picker</li>
  </ul>
  <h3>Exploring Decisions</h3>
  <p>The Decisions Picker allows you to enter a decision number using scroll wheels. Go to 'Explore Decisions' and start with the left-hand wheel to enter the Rule number that you wish to see Decisions for. The list of Decisions is refined as you enter your choices, helping you see if you're on the right track. You can also view a full ordered list of the Decisions in this section.</p>
  <h3>My Decisions</h3>
  <p>One of the most useful features of the app is the option to save Decisions that you most commonly refer to, or those you think you might need to refer to in upcoming rounds. When viewing a Rule or a Decision, tap the icon to save a Rule or a Decision – you will be shown a list of folders to which you can save the Rule or Decision. Tap the folder you want to use.</p>
  <p>To start with you have one folder, called 'Folder 1' - to rename it, you can also create your own folders.</p>
  <p>Please note: if you uninstall the app from your device, any Rules or Decisions you save will be lost.</p>
  <h3>Sharing Rules and Decisions</h3>
  <p>You can share information about Rules and Decisions you are viewing - simply tap the 'Share' icon and select the method you wish to use.</p>
</div>
