<div class="title">Decisions on the Rules of Golf</div>
<div class="maintext">
  <p>Welcome to the Decisions on the Rules of Golf app. The Decisions on the Rules of Golf is the official interpretation of the Rules of Golf from the game's ruling body, The R&A. It provides clear answers to practical problems encountered when playing golf. The correct Decision is at your fingertips thanks to this simple-to-use app.</p>
  <h3>About Decisions</h3>
  <p>The app contains the Rules, updated on 1st January 2016, together with the new and revised Decisions for 2016-2017. It will assist in resolving Rules problems, both simple and complicated, which arise at all levels of competitive golf. Everything from the order of play, when two balls are lost in a lateral water hazard, to how to proceed once an opponent has played your ball by mistake.</p>
  <p>The Decisions on the Rules follow a clear question-and-answer format so that the interpretation is easy to understand and implement.</p>
  <h3>Gender</h3>
  <p>In the Rules of Golf and the Decisions on the Rules of Golf, the gender used in relation to any person is understood to include both genders.</p>
  <h3>Handicaps</h3>
  <p>The Rules of Golf do not legislate for the allocation and adjustment of handicaps. Such matters are within the jurisdiction of the relevant handicapping authority and queries should be directed accordingly.</p>
</div>
