<div class="title">Principal Changes introduced in the 2016 Rules</div>
<div class="maintext">
  <h3>Rules of Golf</h3>
  <!--<p><a href='playvideo:fileName=0_cbsasgsj_0_hk0xcnw6_2.mp4'><img width='90%' src='ra.png'></img></a></p>-->
  <h4 style="margin-bottom: -10px;">Rule 3-3. Doubt as to Procedure</h4>
  <p>The Rule has been amended to provide further guidance on:</p>
  <p>1. The procedure for a competitor who is uncertain of how to proceed and decides to play two balls; and</p>
  <p>2. How the Committee should determine which ball is to count in such situations.</p>
  <p>In addition, the Rule has been expanded to provide guidance on which ball counts when the Rules do not permit the procedure used for either ball.</p>
  <h4 style="margin-bottom: -10px;">Exception to Rule 6-6d. Wrong Score for Hole</h4>
  <p>This new Exception provides that a competitor is not disqualified for returning a score for any hole lower than actually taken when this is due to failure to include one or more penalty strokes that, before returning his score card, the competitor did not know he had incurred. Instead, the competitor incurs the penalty prescribed by the applicable Rule and an additional penalty of two strokes for each hole at which the competitor has committed a breach of Rule 6-6d.</p>
  <h4 style="margin-bottom: -10px;">Rule 14-1b. Anchoring the Club</h4>
  <p>A new Rule is introduced to prohibit anchoring the club, either "directly" or by use of an "anchor point", during the making of a stroke.</p>
  <h4 style="margin-bottom: -10px;">Rule 14-3. Artificial Devices and Unusual Equipment; Abnormal Use of Equipment</h4>
  <p>Several amendments have been made to Rule 14-3, including:</p>
  <p>1. A statement of principle has been introduced to confirm what guides the governing bodies in determining whether use of any Principal Changes 13 item is a breach of Rule 14-3;</p>
  <p>2. For clarity, the previous reference to "unusual use of equipment" has been changed to "abnormal use of equipment"; and</p>
  <p>3. The penalty for a player's first breach of Rule 14-3 during a stipulated round has been modified from disqualification to loss of hole in match play or two strokes in stroke play, with disqualification applied as the penalty for a subsequent breach of the Rule.</p>
  <h4 style="margin-bottom: -10px;">Rule 18-2. Ball at Rest Moved By Player, Partner, Caddie or Equipment</h4>
  <p>Rule 18-2b (Ball Moving After Address) has been withdrawn. This means that when a ball moves after a player has addressed it, the application of a penalty under Rule 18-2 will be based purely on whether the player caused the ball to move.</p>
  <h4 style="margin-bottom: -10px;">Rule 25-2. Embedded Ball Notes have been introduced to:</h4>
  <p>1. clarify when a ball is embedded; and</p>
  <p>2. confirm that a Committee may introduce a Local Rule allowing relief without penalty for a ball embedded anywhere through the green.</p>
  <h4 style="margin-bottom: -10px;">Rule 26-2. Ball Played Within Water Hazard</h4>
  <p>The Rule has been reformatted solely for clarity. There has been no substantive change.</p>
  <h4 style="margin-bottom: -10px;">Appendix I. Local Rules; Conditions of the Competition </h4>
  <p>Former Parts A and B of Appendix I relating to Local Rules are consolidated to provide all of the pertinent information on specific</p>
  <p>Local Rules in a single location.</p>
  <h4 style="margin-bottom: -10px;">Appendix IV. Devices and Other Equipment</h4>
  <p>Part 5 relating to distance-measuring devices is amended so that, when a Local Rule permitting the use of distance-measuring devices is in 14 Principal Changes effect, there is a breach of Rule 14-3 only if a player uses the device for some other purpose that is prohibited by that Rule. Previously, when the Local Rule was in force, a player was in breach of Rule 14-3 if he used a distance-measuring device that also contained other features whose use would breach Rule 14-3, regardless of whether such other features were actually used by the player.</p>
  <h4 style="margin-bottom: -10px;">Appendices II, III and IV</h4>
  <p>Statements on equipment conformance and product submission processes were removed from Rules 4, 5 and 14-3 to eliminate redundancy with Appendices II, III and IV. The revision to consolidate these statements in the appendices is non-substantive and done solely for efficiency.</p>
</div>