<div class="title">Rules Academy</div>
<div class="maintext">
  <!--<% if (window.useVideos) { %>-->
  <!--<p class="iframe-scaler">-->
    <!--<span id="video1" class="html5Video" style="width: 90%;" data-file="rulesacademypromolongerversion.mp4"></span>-->
    <!--<iframe frameborder="0" allowfullscreen="" src="<%= cordova.file.applicationDirectory %>www/video/rules academy promo longer version.mp4"></iframe>-->
  <!--</p>-->
  <!--<% } %>-->
  <p>The Rules Academy is a free online course offered by The R&amp;A to help golfers and administrators improve their knowledge of the Rules of Golf.</p>
  <p>The Rules Academy is available at
    <a href='http://www.RandA.org/RulesAcademy'>www.RandA.org/RulesAcademy</a> and is based on the Etiquette Section and the Quick Guide to the Rules of Golf (a short summary of the most commonly occurring Rules). Users are guided by either Padraig Harrington or Suzann Pettersen, who are both R&amp;A Working for Golf Ambassadors.
  </p>
  <p>The course features video, images and diagrams of Rules situations and includes revision questions after each section. It covers the essentials that all golfers should know such as sportsmanship, integrity and respect. It adopts a tee to green approach and tells you what you need to know at each point; from where to tee your ball, to taking relief from various conditions, to holing out and returning the score card.</p>
  <p>At the end of the course, you can take The R&A Level 1 Rules Exam and receive a certificate signed by your guiding player.</p>
</div>
