body {
	margin-top: 5%;
	margin-bottom: 5%;
	/*margin-left:6.25%;*/
	margin-right: 5%;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	line-height: 140%;
	background-color: white;
	color: #555555;

}

p {
	margin-top: 0;
}

.definition {
	font-style: italic;
	color: #3c69b5;
	cursor: pointer;
	text-decoration: underline;
}

.definition:hover {
	color: #444444; /* Change the value to with anchors hover color*/
}

.title {
	font-size: 1.2em;
	line-height: 140%;
}

.image {
	padding-top: 5%;
	padding-bottom: 5%;
}

.question {
	font-size: 1.0em;
	font-weight: bold;
	color: #273A65;
	margin-bottom: 15px;
	margin-top: 25px;
	background-color: #EEF3F9;
	width: 26px;
	height: 26px;
	border: 1px solid #ccc;
	text-align: center;
	float: left;
}

.questionText {
	margin-top: 25px;
	margin-left: 40px;
	line-height: 145%;
	font-size: 0.9em;
	min-height: 30px;
}

.answer {
	font-size: 1.0em;
	font-weight: bold;
	color: #273A65;
	margin-bottom: 15px;
	margin-top: 25px;
	background-color: #EEF3F9;
	width: 26px;
	height: 26px;
	border: 1px solid #ccc;
	text-align: center;
	float: left;
}

.answerText {
	margin-top: 42px;
	margin-left: 40px;
	line-height: 145%;
	font-size: 0.9em;
}

.WebResourcesTitle {
	line-height: 140%;
	font-size: 1.1em;
	color: rgb(126, 111, 78);
}

.WebResources {
	line-height: 140%;
	font-size: 0.9em;
	color: rgb(126, 111, 78);
}

.CaptionText {
	color: rgb(20, 20, 20);
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub {
	top: 0.4em;
}

a {
	text-decoration: none;
	font-weight: normal;
	line-height: 140%
}

a:link {
	color: #3c69b5;
}

.linkButton {
	margin-top: 20px;
	padding: 14px 14px;
	font-size: 16px;
	line-height: 100%;
	width: auto;
	display: block;
	vertical-align: middle;
	text-align: left;
	color: #333 !important;
	background-color: #E9F0F9;
}

.linkButton2 {
	margin-top: 10px;
}

.chevron {
	color: black;
	float: right;
}