body {
	margin: 5% 5% 5% 3%;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	line-height: 140%;
	background-color: white;
	color: #555555;
}

.defTitle {
	font-size: 1.4em;
	line-height: 100%;
	padding-top: 0.7em;
	margin-bottom: 5%;
	font-weight: bold;
}

.defText {
	font-size: 1.0em;
}

.definition {
	font-style: italic;
	color: #3c69b5;
	cursor: pointer;
	text-decoration: underline;
}

.definition:hover {
	color: #444444; /* Change the value to with anchors hover color*/
}

.Penalty {
	color: red;
}

.image {
	padding-top: 5px;
	padding-bottom: 5px;
}

a:link {
	color: #3c69b5;
}

a {
	text-decoration: none;
	font-weight: normal;
	line-height: 140%
}