a {
	text-decoration: none;
	font-weight: normal;
}

a:link {
	color: #484cef;
}

body {
	font-size: 14px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	background-color: white;
	color: #282828;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}