a {
	text-decoration: none;
	font-weight: normal;
}

a:link {
	color: #484cef;
}

body {
	font-size: 20px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	background-color: #fffaf7;
	color: #282828;
	width: 90%;
	margin-right: 4%;
	margin-left: 6%;
}

.title {
	margin-top: 24px;
	font-family: "NexusSansTF-Bold", Helvetica, sans-serif;
	font-size: 1.6em;
	color: #141e62;
	width: 90%;
}

.country {
	margin-top: 12px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #000000;
	width: 90%;
}

.criteria {
	margin-top: 6px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	font-size: 0.9em;
	color: #444444;
	width: 90%;
}

.maintext {
	line-height: 140%;
	margin-top: 12px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #000000;
	width: 90%;
}

.month {
	margin-top: 12px;
	font-family: "NexusSansTF-Regular", Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #282828;
	width: 90%;
}

.summary {
	margin-top: 12px;
	line-height: 120%;
	font-family: "NexusSansTF-Bold", Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #282828;
	width: 90%;
}

.line {
	height: 2px;
	border-width: 0;
	color: #999;
	background-color: #999;
	width: 90%;
}