a {
	text-decoration: none;
	font-weight: normal;
	line-height: 160%
}

a:link {
	color: #3c69b5;
}

body {
	font-size: 20px;
	font-family: "Helvetica", Helvetica, sans-serif;
	background-color: #f3f1f0;
	color: #282828;
	margin-right: 5%;
	margin-left: 5%;
}

.title {
	margin-top: 30px;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 1.4em;
	color: #282828;
}

.country {
	margin-top: 12px;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #444444;
}

.criteria {
	margin-top: 16px;
	background-color: #555555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #333333;
	padding: 8px;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.7em;
	color: #ffffff;
}

.maintext {
	line-height: 120%;
	margin-top: 12px;
	font-family: Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	color: #282828;
}

.extraInfoTitle {
	margin-top: 12px;
	background-color: #bfbebe;
	-moz-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 8px;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	font-style: italic;
	color: #282828;
}

.extraInfo {
	background-color: #e3e1dd;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	padding: 8px;
	line-height: 120%;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	font-style: italic;
	color: #282828;
}

.image {
	margin-top: 24px;
}