body {
	margin: 5% 5% 5% 3%;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 140%;
	background-color: white;
	color: #555555;
}

.title {
	font-weight: bold;
	font-size: 2em;
	color: #000000;
}

.subRulesText {
	font-size: 1.0em;
}

.WebResourcesTitle {
	line-height: 140%;
	font-size: 1.1em;
	color: rgb(126, 111, 78);
}

.WebResources {
	line-height: 140%;
	font-size: 0.9em;
	color: rgb(126, 111, 78);
}

.CaptionText {
	color: rgb(20, 20, 20);
}

a {
	text-decoration: none;
	font-weight: normal;
	line-height: 140%
}

.definition {
	text-decoration: none;
	font-style: italic;
	line-height: 140%;
	color: #3c69b5;
}

.Penalty {
	color: red;
}

.Penalty-heading {
	color: red;
}

.penalty {
	color: red;
}

.penalty-heading {
	color: red;
}

a:link {
	color: #3c69b5;
}

.linkButton {
	margin-top: 20px;
	padding: 14px 14px;
	font-size: 16px;
	line-height: 100%;
	width: auto;
	display: block;
	vertical-align: middle;
	text-align: left;
	color: #333 !important;
	background-color: #e9f0f9;
}

.linkButton2 {
	margin-top: 10px;
}

.chevron {
	color: black;
	float: right;
}