body {
	margin: 5% 5% 5% 7%;
	font-family: TateNew-Regular, sans-serif;
	font-size: 18px;
	line-height: 140%;
	background-color: rgba(200, 200, 200, 0.5);

}

.title {
	font-size: 1.4em;
	line-height: 100%;
	font-family: TateNew-Bold, sans-serif;
}

.CaptionArtist {
	font-size: 1.0em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Bold, sans-serif;
}

.CaptionTitle {
	line-height: 140%;
	font-size: 1.0em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Bold, sans-serif;
}

.CaptionArtistColumn {
	margin-top: 0;
	font-size: 1.0em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Bold, sans-serif;
}

.CaptionTitleColumn {
	line-height: 140%;
	font-size: 1.0em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Regular, sans-serif;
}

.WebResourcesTitle {
	line-height: 140%;
	font-size: 1.1em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Bold, sans-serif;
}

.WebResources {
	line-height: 140%;
	font-size: 0.9em;
	color: rgb(126, 111, 78);
	font-family: TateNew-Regular, sans-serif;
}

.CaptionText {
	color: rgb(20, 20, 20);
	font-family: TateNew-Thin, sans-serif;
}

a {
	text-decoration: none;
	font-weight: normal;
	line-height: 140%
}

a:link {
	color: #3c69b5;
}