/*
dark blue (top): #284379
mid blue (rule number bg): #768bb3
light blue (rule bg): #e8f0f7
bright blue (rule selector): #007aff
light grey (rule section bg): #ebebec
near black (rule section font): #232323
dark grey (rule title font): #4d4d4d
mid-light grey (rule border): #c8c7cc
*/
html {
	-webkit-user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

*:focus {
	outline: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	color: #555;
	fill: currentColor;
	background-color: #fff;
	line-height: 1.4;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: visible;
}

svg {
	/*pointer-events: none;*/
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	margin: 0 !important;
}

.nv {
	display: none;
	visibility: hidden;
}

.html5Video {
	min-height: 150px;
	z-index: 3;
}

a,
.definition {
	color: #3c69b5;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
	z-index: 1;
}

.definition {
	border-bottom: 1px dotted #3c69b5;
}

span.hlw {
	padding: 1px 0 !important;
	margin: -1px 0 !important;
	background-color: #f4ff6b !important;
}

a.hl,
.definition.hl {
	padding: 2px 4px !important;
	margin: -2px -4px !important;
	background-color: #d7d7d7 !important;
}

.dli.hl,
.rli.hl,
.oli.hl {
	background-color: #d7d7d7 !important;
}

.dli.hl .dn,
.rli.hl .dn,
.rli.hl .rn {
	background-color: #acacac !important;
}

.word-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	/*
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	*/
}

.Penalty,
.Penalty-heading,
.penalty,
.penalty-heading,
.pnlt,
.pnlt-heading {
	color: red;
}

.webkit-scroll-vertical {
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch;
}

.webkit-scroll-horizontal {
	overflow-x: auto !important;
	-webkit-overflow-scrolling: touch;
}

.ui-filter-inset {
	margin-top: 0;
}

.iframe-scaler {
	width: 95%;
	max-width: 640px;
	height: 360px;
	max-height: 360px;
}

.iframe-scaler iframe {
	width: 100%;
	height: 100%;
}

/*
###########################
## improvements for iScroll
###########################
*/
.iScrollVerticalScrollbar {
	width: 5px !important;
}

/*
##############################
## improvements for MobiScroll
##############################
*/
.dw {
	border-top: 1px solid #8e8e93;
}

.dwo {
	background: rgba(0, 0, 0, .4);
}

.mbsc-ios-golf .dwwr {
	background-color: #284379;
}

.mbsc-ios-golf .dwfl {
	background-color: #f7f7f7;
}

.mbsc-ios .dwl {
	text-align: inherit;
	color: #fff;
	background-color: #284379;
}

.mbsc-ios .dw-li {
	text-align: inherit;
}

.mbsc-ios .dwwol {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
}

/*
#############
hide the mask; advice by Isti Halmen; 2016-04-13; support ticket #1567; https://mobiscroll.com/account/supporttickets
*/
/* Hide mask */
.dwo {
	display: none;
}

/* Enable access to content */
.dw-persp {
	pointer-events: none;
}

/* Reset pointer events for the popup itself */
.dw {
	pointer-events: auto;
}

/*
##################################
## improvements for Magnific Popup
##################################
*/
.mfp-bg {
	right: 0;
	bottom: 0;
	height: 100% !important;
	position: fixed !important;
	opacity: 0.9;
}

.mfp-content {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 65%; /* for text of narrow images */
}

.mfp-content #definition-view {
	display: block !important;
}

/* inline type */
.mfp-inline-holder .mfp-content {
	padding: 20px;
	width: auto;
	min-width: 40%;
	max-width: 60%;
	height: auto;
	min-height: 35%;
	max-height: 70%;
	margin: 20px auto;
	background-color: #fff;
}

/* image type */
.mfp-title a {
	color: #bad6ff;
}

/* iframe type */
.mfp-iframe-scaler .mfp-bottom-bar {
	margin-top: 4px;
}

.mfp-iframe-scaler video {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}

/*
######
## log
######
*/
#logW {
	position: absolute;
	left: 0;
	top: 20%;
	width: 50%;
	height: 65%;
	max-height: 500px;
	visibility: hidden;
	z-index: 10;
}

#log {
	position: absolute;
	color: #000 !important;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3px 5px;
	font: normal 12px/1.1 monospace;
}

#log p {
	margin: 2px 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
	text-transform: none !important;
}

#toggle-log {
	position: fixed;
	bottom: 0;
	left: 2px;
	padding-top: 20px;
	display: none;
	z-index: 10;
}

/*
########
## views
########
*/
.view {
	display: none; /* initially hidden */
}

.full-screen-view,
.content-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
}

.full-screen-view {
	width: 100%;
	background-color: #fff;
	z-index: 2;
}

.full-screen-view.with-header {
	top: 44px;
}

.full-screen-view.with-search {
	top: 88px;
}

.full-screen-view.with-footer {
	bottom: 44px;
}

.content-wrapper {
	overflow-y: hidden;
}

.content-wrapper.sides-padded {
	padding: 0 20px;
}

#rule-title-bg,
#decision-title-bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #e3edf9;
	z-index: -1;
}

.block-title {
	color: #fff;
	background-color: #768bb3;
	padding: 9px 10px 8px;
	font-size: 1.1em;
}

.phone-view .block-title {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.scroll-content-border {
	border: 1px solid #aaa;
	padding-bottom: 1px;
}

#rule-content-wrapper,
#decision-content-wrapper,
.side-content-wrapper {
	position: relative; /* this is important for the scroll bar to be inside the wrapper */
	overflow-y: hidden;
}

.side-content-wrapper {
	font-size: 0.9em;
}

.scroll-content {
	overflow-y: auto;
}

.mask-displayed {
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	display: block !important;
}

.full-screen-view.swipe-left-start {
	left: 100%;
}

@-webkit-keyframes swipe-left-open {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

@keyframes swipe-left-open {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

.full-screen-view.swipe-left-open {
	-webkit-animation: swipe-left-open 333ms linear;
	animation: swipe-left-open 333ms linear;
	left: 0;
	z-index: 4;
}

.full-screen-view.swipe-right-start {
	right: 100%;
}

@-webkit-keyframes swipe-right-open {
	from {
		right: 100%;
	}
	to {
		right: 0;
	}
}

@keyframes swipe-right-open {
	from {
		right: 100%;
	}
	to {
		right: 0;
	}
}

.full-screen-view.swipe-right-open {
	-webkit-animation: swipe-right-open 333ms linear;
	animation: swipe-right-open 333ms linear;
	right: 0;
	z-index: 4;
}

/*
##############
## phone views
##############
*/
.phone-view-holder {
	display: none;
	padding-bottom: 8px;
}

.phone-view .phone-view-holder {
	display: block;
}

.phone-view .phone-view-holder .block-title {
	display: none;
}

.phone-view-holder-button {
	background-color: #e3edf9;
	height: 44px;
}

.phone-view-holder-button.clicked {
	background-color: #c6cfdb;
}

.phone-view-holder-button img,
.phone-view-holder-button svg {
	color: #007aff;
	fill: currentColor;
	clear: right;
	float: right;
	padding: 4px;
}

.phone-view-holder-button span {
	float: left;
	display: inline-block;
	padding: 10px 0 0 12px;
	font-size: larger;
}

.phone-view .holder .dli:last-of-type,
.phone-view .holder .mli:last-of-type,
.phone-view .holder .rli:last-of-type {
	border-bottom: 0 none !important;
}

@-webkit-keyframes spin-open {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(90deg);
	}
}

@keyframes spin-open {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

.phone-view .phone-view-holder-button img.open,
.phone-view .phone-view-holder-button svg.open {
	-webkit-animation: spin-open 200ms linear;
	animation: spin-open 200ms linear;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

@-webkit-keyframes spin-close {
	from {
		-webkit-transform: rotate(90deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes spin-close {
	from {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.phone-view .phone-view-holder-button img.close,
.phone-view .phone-view-holder-button svg.close {
	-webkit-animation: spin-close 200ms linear;
	animation: spin-close 200ms linear;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

@-webkit-keyframes div-open {
	from {
		height: 0;
	}
	to {
		height: auto;
	}
}

@keyframes div-open {
	from {
		height: 0;
	}
	to {
		height: auto;
	}
}

.phone-view .holder.open {
	/*-webkit-animation: div-open 1s linear;
	animation: div-open 1s linear;*/
	height: auto !important;
}

@-webkit-keyframes div-close {
	from {
		height: auto;
	}
	to {
		height: 0;
	}
}

@keyframes div-close {
	from {
		height: auto;
	}
	to {
		height: 0;
	}
}

.phone-view .holder.close {
	/*-webkit-animation: div-close 1s linear;
	animation: div-close 1s linear;*/
	height: 0 !important;
	overflow-y: hidden !important;
}

/*
############
## menu view
############
*/
#menu-view-i,
#menu-view-i .bg-outer,
#menu-view-i .bg-inner {
	position: absolute;
	bottom: 0;
	width: 320px;
}

#menu-view-i.show {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-duration: 333ms;
	transition-duration: 333ms;
}

#menu-view-i.hide {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition-duration: 333ms;
	transition-duration: 333ms;
}

#menu-view-i {
	top: 0;
	left: -321px;
	background-color: #284379;
	border-right: 1px solid #8e8e93;
	z-index: 100002; /* set even higher than iScroll and MobiScroll */
}

#menu-view-i .bg-outer {
	top: 44px;
	left: 0;
	background: url("../img/bg_ipad_landscape_split.png") left bottom #dde6f7 no-repeat;
	background-size: 320px auto;
}

#menu-view-i .bg-inner {
	top: 0;
	left: 0;
	background: url("../img/title.png") 10px 7px transparent no-repeat;
	background-size: 299px auto;
}

#menu-view-i .menu-button {
	display: inline-block;
	float: left;
	margin: 0 0 11px 11px;
	padding-right: 15px;
	border: 0 none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: url("../img/linkBox.png") left top transparent no-repeat;
	background-size: 144px auto;
	width: 144px;
	height: 44px;
}

/* retina - use from 1.3 pixel ratio */
@media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {

	#menu-view-i .bg-outer {
		background-image: url("../img/bg_ipad_landscape_split@2x.png");
	}

	#menu-view-i .bg-inner {
		background-image: url("../img/title@2x.png");
	}

	#menu-view-i .menu-button {
		background-image: url("../img/linkBox@2x.png");
	}
}

#menu-view-i .menu-options {
	position: absolute;
	top: 246px;
	left: 0;
	width: 320px;
}

#menu-view-i .menu-button:hover {
	background-color: #999;
}

#menu-view-i .rolex-button {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
}

#menu-view-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 320px;
	display: none; /* initially hidden */
	z-index: 100001; /* set even higher than iScroll and MobiScroll */
}

/*
#############
## rolex view
#############
*/
#rolex-view {
	z-index: 4; /* more than header */
}

#rolex-view-i {
	background-color: #070707;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

#rolex-view-i img {
	margin: auto;
	padding: 0;
	border: 0 none;
	line-height: 1;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

/*
####################
## folders list view
####################
*/
.folders-list .item-count {
	float: right;
	display: inline-block;
	margin: -1px 0;
	padding: 1px 4px;
	color: #fff;
	background-color: #768bb3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;;
}

.folders-list .hl .item-count,
.folders-list .selected .item-count {
	background-color: #acacac !important;
}

/*
##################
## add to a folder
##################
*/
#add-to-folder-view-i,
#add-to-folder-view-i .bg-outer {
	position: absolute;
	bottom: 0;
	width: 250px;
}

#add-to-folder-view-i.show {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition-duration: 333ms;
	transition-duration: 333ms;
}

#add-to-folder-view-i.hide {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-duration: 333ms;
	transition-duration: 333ms;
}

#add-to-folder-view-i {
	top: 0;
	right: -251px;
	overflow: hidden;
	background-color: #284379;
	border-left: 1px solid #8e8e93;
	z-index: 100002; /* set even higher than iScroll and MobiScroll */
}

#add-to-folder-view-i .bg-outer {
	top: 44px;
	right: 0;
	bottom: 0; /* 45px - for sharing strip */
	left: 0;
	background-color: #e9f0f8;
}

#add-to-folder-view-i .edit-folders-button {
	margin: -7px -6px -6px 0;
	padding: 6px;
	float: right;
	color: #768bb3;
	font-size: 24px;
	line-height: 1;
}

#add-to-folder-view-i .edit-folders-button.clicked {
	color: #fff;
	background-color: #768bb3;
}

#add-to-folder-view-i .rules-list > ul {
	margin: 0;
	padding: 0;
	list-style: none none;
}

#add-to-folder-view-i .rules-list {
	overflow-x: hidden;
}

#add-to-folder-view-i .rules-list .rli {
	padding-top: 15px;
	padding-bottom: 15px;
}

#add-to-folder-view-i .rules-list .rli.selected {
	background-color: #d7d7d7;
}

#add-to-folder-view-i .rules-list .rli.intro {
	color: #4d4d4d;
	background-color: transparent;
	font-weight: normal;
	border: 0 none;
}

#add-to-folder-view-i #sharing-buttons-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 44px;
	border-top: 1px solid #8e8e93;
}

#add-to-folder-wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#add-to-folder-view-close {
	position: absolute;
	top: 0;
	right: 250px;
	bottom: 0;
	left: 0;
	display: none; /* initially hidden */
	z-index: 100001; /* set even higher than iScroll and MobiScroll */
}

/*
####################
## folders list view
####################
*/
#folders-list-wrapper {
	right: 0;
	left: 0;
}

#folders-list .editable #edit-input {
	margin: -2px -4px;
	padding: 2px 4px;
	background-color: #ffc;
	font: inherit;
	width: 75% !important;
}

#folders-list .editable .edit-button {
	font: inherit;
	margin: 4px 4px 0 0;
	padding: 4px 8px;
}

/*
#######################################
## folder rules and decisions list view
#######################################
*/
#folder-rules-and-decisions-list-wrapper {
	right: 0;
	left: 0;
}

#folder-rules-and-decisions-list-view-i .rules-list > ul {
	margin: 0;
	padding: 0;
	list-style: none none;
}

/*
##############
## header view
##############
## footer view
##############
*/
#header-view,
#footer-view {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 3;
	font-size: 19px;
	background-color: #fff;
}

#header-view {
	top: 0;
	height: 44px;
	color: #fff;
	background-color: #284379;
	text-align: center;
}

#footer-view {
	bottom: 0;
	height: 45px;
}

#header-view .button,
#footer-view img,
#footer-view svg {
	padding: 4px;
	display: inline-block;
}

.phone-view #header-view .button {
	padding-left: 0;
}

#header-back-nav {
	position: absolute;
	top: 0;
	left: 4px;
}

.phone-view #header-back-nav {
	left: 0;
}

#header-back-nav img,
#header-back-nav svg {
	float: left;
}

#header-back-nav span {
	float: left;
	margin: 0 0 0 -8px;
	padding: 11px 0;
	font-size: smaller;
	line-height: 1;
}

#header-back-nav span.no-chevron {
	margin-left: 0;
	padding-left: 11px;
}

#header-title {
	display: inline-block;
	padding: 10px 0;
	margin: 0 auto;
	font-weight: bold;
}

#header-icons-left,
#header-icons-right {
	position: absolute;
	top: 0;
}

#header-icons-left {
	left: 6px;
}

#header-icons-right {
	right: 4px;
}

#header-back-nav .button.clicked span,
#header-back-nav .button.clicked svg,
#header-icons-left .button.clicked svg,
#header-icons-right .button.clicked svg {
	color: #007aff;
	fill: currentColor;
}

/*#header-back-nav.narrow img,
#header-back-nav.narrow svg,*/
#header-icons-left.narrow .button,
#header-icons-right.narrow .button {
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer-view-i {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	overflow-y: hidden;
	border-top: 1px solid #2a4881;
	color: #324f85;
}

.phone-view #footer-view-i {
	left: 2%;
	right: 2%;
}

#footer-view-i {
	overflow: hidden;
}

#footer-view-i img,
#footer-view-i svg {
	color: #007aff;
	fill: currentColor;
	padding: 9px 0 10px;
}

#footer-view-i span {
	position: absolute;
	white-space: nowrap;
	padding: 11px 0;
	font-size: smaller;
	font-weight: bold;
}

#footer-view-i .clicked {
	color: #bad6ff;
}

#footer-view-i .previous-item {
	float: left;
	left: 0;
}

#footer-view-i .previous-item span {
	top: 0;
	left: 20px;
}

#footer-view-i .previous-item img,
#footer-view-i .previous-item svg {
	margin-left: -5px;
}

#footer-view-i .next-item {
	float: right;
	right: 0;
}

#footer-view-i .next-item span {
	top: 0;
	right: 20px;
}

#footer-view-i .next-item img,
#footer-view-i .next-item svg {
	margin-right: -5px;
}

/*
##############
## search view
##############
*/
#search-view {
	position: absolute;
	top: 44px;
	right: 0;
	left: 0;
	height: 44px;
	z-index: 3;
	display: none; /* hide initially */
}

#search-view form {
	margin: 0;
	padding: 0;
}

#search-view-i {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 1px solid #091224;
	border-bottom: 1px solid #0d1a35;
	background-color: #153473;
}

#search-input-wrapper {
	float: left;
	display: inline-block;
	width: 75%;
	margin: 8px 0 0 8px;
	background-color: #0F2450;
}

@media screen and (max-width: 480px) {

	#search-input-wrapper {
		width: 70%;
	}
}

@media screen and (max-width: 320px) {

	#search-input-wrapper {
		width: 65%;
	}
}

#search-input {
	color: #dbdcde; /*#737476*/
	background-color: #0F2450;
	font-size: 17px;
	line-height: 21px;
	padding: 0 5px;
	border: 0 none;
}

#search-view .clear-button {
	float: left;
	display: inline-block;
	margin-top: 4px;
	padding: 6px 8px;
	border: 0 none !important;
	color: #fff;
	background-color: transparent;
	font-size: 17px;
	line-height: 21px;
}

#search-view .clear-button.clicked {
	background-color: #768bb3;
}

#search-result-count {
	float: left;
	display: inline-block;
	margin: 8px 0 0;
	padding: 2px 5px 2px 2px;
	color: #babbbd; /*#737476*/
	background-color: #0F2450;
	font-size: 17px;
	line-height: 21px;
}

/*
#####################################
## improvements for easy-autocomplete
#####################################
*/
.easy-autocomplete-container {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 200px;
}

/*
######################
## rule list - generic
######################
*/
.rules-list {
	width: 100%;
	overflow-y: hidden;
}

/* rule section */
.rules-list .rsn {
	padding: 4px 15px;
	font-weight: bold;
	line-height: 1;
	color: #232323;
	background-color: #ebebec;
	z-index: 1;
	overflow: auto;
}

.rules-list .rsn.desc {
	padding-bottom: 3px;
	border-top: 1px solid #c8c7cc;
	background-color: #e9f0f8;
}

.rules-list .rsn.desc2 .right {
	padding-top: 2px;
}

.rules-list .rsn .right,
.rules-list .rsn .left {
	color: #999;
	display: inline-block;
	font-size: smaller;
	font-weight: normal;
}

.rules-list .rsn .right svg,
.rules-list .rsn .left svg {
	color: #999;
	fill: currentColor;
	margin: -3px 0;
}

.rules-list .rsn .right {
	float: right;
}

.rules-list .rsn .left {
	float: left;
}

/* rule list item */
.rules-list .rli {
	margin-top: -1px;
	color: #4d4d4d;
	background-color: #fff;
	font-weight: bold;
	padding: 50px 15px 25px 20px; /* top = 20 + 30 (.rn) */
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
}

/* rule */
.rules-list .rli.r {
	background-color: #e8f0f7;
}

/* decision */
.rules-list .rli.d {
	background-color: #fff;
}

/* rule number */
.rules-list .rli .rn {
	float: left;
	display: inline-block;
	margin-top: -41px;
	padding: 5px 10px 3px;
	color: #fff;
	background-color: #768bb3;
	font-size: smaller;
	line-height: 1;
}

/*
################################
## rules and decisions list view
################################
*/
#rules-and-decisions-list-wrapper {
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	left: 0;
	overflow-y: hidden;
}

#rules-and-decisions-list-wrapper.no-selector {
	right: 0;
}

/*
################
## rule selector
################
*/
#rule-selector {
	position: fixed;
	top: 44px;
	right: 0;
	bottom: 0;
	width: 35px;
	text-align: center;
	overflow-y: hidden;
}

#rule-selector .rs {
	color: #007aff;
	font-size: smaller;
}

#rule-selector .rsb {
	color: #007aff;
	font-weight: bold;
	font-size: larger;
}

.with-search #rule-selector {
	top: 88px;
}

/*
###################
## videos list view
###################
*/
#videos-list-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: hidden;
}

#videos-list .mli {
	color: #4d4d4d;
	background-color: #fff;
	padding: 12px 7px 15px 10px;
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
	overflow: auto;
}

#videos-list .mli img {
	float: left;
	display: inline-block;
	margin: 0 10px 0 0;
	border: 1px solid #c8c7cc;
	max-width: 70px;
}

/*
##################
## rules list view
##################
*/
#rules-list-wrapper {
	width: 100%;
}

/*
############
## rule view
############
*/
#rule-view #rule {
	float: left;
	margin: 3% 0 0 4%;
	width: 53%;
}

.phone-view #rule-view #rule {
	float: none;
	margin: 2% 0 0 2%;
	width: 98%;
}

#rule-view #rule-content {
	padding-right: 4%;
}

.phone-view #rule-view #rule-content {
	padding-right: 0;
	width: 98%;
}

#rule-view #decisions {
	float: right;
	margin: 3% 3% 0 0;
	width: 38%;
}

.phone-view #rule-view #decisions {
	float: none;
	margin: 0;
	width: auto;
	height: auto;
}

#rule-view #media {
	clear: right;
	float: right;
	margin: 2% 3% 0 0;
	width: 38%;
}

.phone-view #rule-view #media {
	clear: none;
	float: none;
	margin: auto;
	width: auto;
	height: auto;
}

/* decision list item */
#rule-view .dli {
	color: #4d4d4d;
	background-color: #fff;
	font-weight: bold;
	padding: 40px 7px 15px 10px; /* top = 12 + 28 (.dn) */
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
}

/* decision number */
#rule-view .dli .dn {
	float: left;
	display: inline-block;
	margin-top: -32px;
	padding: 5px 10px 3px;
	color: #fff;
	background-color: #768bb3;
	font-size: smaller;
	line-height: 1;
}

/* media list item */
#rule-view .mli {
	color: #4d4d4d;
	background-color: #fff;
	padding: 12px 7px 15px 10px;
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
	overflow: auto;
}

/* media picture */
#rule-view .mli img {
	float: left;
	display: inline-block;
	margin: 0 10px 0 0;
	border: 1px solid #c8c7cc;
	max-width: 70px;
}

/*
###################
## rule view - rule
###################
CSS file from the iOS app, slightly modified
*/
#rule-view #rule .title {
	font-size: 1.2em;
}

#rule-view #rule .WebResourcesTitle {
	font-size: 1.1em;
	color: rgb(126, 111, 78);
}

#rule-view #rule .WebResources {
	font-size: 0.9em;
	color: rgb(126, 111, 78);
}

#rule-view #rule .CaptionText {
	color: rgb(20, 20, 20);
}

#rule-view #rule .linkButton {
	margin-top: 20px;
	padding: 14px 14px;
	font-size: 16px;
	line-height: 1;
	width: auto;
	display: block;
	vertical-align: middle;
	text-align: left;
	color: #333 !important;
	background-color: #e9f0f9;
}

#rule-view #rule .linkButton2 {
	margin-top: 10px;
}

/*
################
## decision view
################
*/
#decision-view #decision {
	float: left;
	margin: 3% 0 0 4%;
	width: 53%;
}

.phone-view #decision-view #decision {
	float: none;
	margin: 2% 0 0 2%;
	width: 98%;
}

#decision-view #decision-content {
	padding-right: 4%;
}

.phone-view #decision-view #decision-content {
	padding-right: 0;
	width: 98%;
}

#decision-view #decision-rule {
	float: right;
	margin: 3% 3% 0 0;
	width: 38%;
}

.phone-view #decision-view #decision-rule {
	display: none;
}

#decision-view #related {
	clear: right;
	float: right;
	margin: 2% 3% 0 0;
	width: 38%;
}

.phone-view #decision-view #related {
	clear: none;
	float: none;
	margin: auto;
	width: auto;
	height: auto;
}

#decision-view #decision-rule-content-wrapper {
	background-color: #e9f0f8;
}

#decision-view #decision-rule-content {
	margin: 0 7px 10px 10px;
}

#decision-view #decision-rule-title .arrow-right {
	clear: right;
	float: right;
}

#decision-view #decision-rule-title .arrow-right.clicked {
	color: #768bb3; /* same colour as .block-title background */
}

/* related decisions list item */
#decision-view .rli {
	color: #4d4d4d;
	background-color: #fff;
	font-weight: bold;
	padding: 40px 7px 15px 10px; /* top = 12 + 28 (.dn) */
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
}

/* related decision number */
#decision-view .rli .dn {
	float: left;
	display: inline-block;
	margin-top: -32px;
	padding: 5px 10px 3px;
	color: #fff;
	background-color: #768bb3;
	font-size: smaller;
	line-height: 1;
}

/*
###########################
## decision view - decision
###########################
CSS file from the iOS app, slightly modified
*/
#decision-view #decision p {
	margin-top: 0;
}

#decision-view #decision .title {
	font-size: 1.2em;
}

#decision-view #decision .image {
	padding-top: 5%;
	padding-bottom: 5%;
	max-width: 100%;
}

#decision-view #decision .question {
	clear: both;
	font-size: 1em;
	font-weight: bold;
	color: #273A65;
	margin-bottom: 15px;
	/*margin-top: 25px;*/
	background-color: #EEF3F9;
	width: 26px;
	height: 26px;
	border: 1px solid #ccc;
	text-align: center;
	float: left;
}

#decision-view #decision .questionText {
	margin-top: 25px;
	margin-left: 40px;
	min-height: 30px;
}

#decision-view #decision .answer {
	clear: both;
	font-size: 1.0em;
	font-weight: bold;
	color: #273A65;
	margin-bottom: 15px;
	margin-top: 25px;
	background-color: #EEF3F9;
	width: 26px;
	height: 26px;
	border: 1px solid #ccc;
	text-align: center;
	float: left;
}

#decision-view #decision .answerText {
	margin-top: 42px;
	margin-left: 40px;
}

#decision-view #decision .WebResourcesTitle {
	font-size: 1.1em;
	color: rgb(126, 111, 78);
}

#decision-view #decision .WebResources {
	font-size: 0.9em;
	color: rgb(126, 111, 78);
}

#decision-view #decision .CaptionText {
	color: rgb(20, 20, 20);
}

#decision-view #decision sup,
#decision-view #decision sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

#decision-view #decision sub {
	top: 0.4em;
}

#decision-view #decision .linkButton {
	margin-top: 20px;
	padding: 14px 14px;
	font-size: 16px;
	line-height: 100%;
	width: auto;
	display: block;
	vertical-align: middle;
	text-align: left;
	color: #333 !important;
	background-color: #E9F0F9;
}

#decision-view #decision .linkButton2 {
	margin-top: 10px;
}

/*
##################
## definition view
###################
## definitions view
###################
CSS file from the iOS app, slightly modified
*/
#definition-view {
	font-size: 18px;
	color: #555;
}

#definition-content-wrapper {
	overflow-y: hidden;
}

#definitions-content {
	padding: 0.7em 0;
}

#definition-view .defTitle,
#definitions-view .defTitle {
	font-size: 1.4em;
	line-height: 1.1;
	padding-top: 0.7em;
	margin-bottom: 5%;
	font-weight: bold;
}

#definition-view .defText,
#definitions-view .defText {
	font-size: 1em;
}

#definitions-view .defText {
	padding-bottom: 0.7em;
	margin-bottom: 0.7em;
	border-bottom: 1px solid #c8c7cc;
}

#definition-view .image {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*
############
## page view
############
CSS file from the iOS app, slightly modified
*/
#page-view {
	font-size: 18px;
	color: #555;
}

#page-content {
	padding: 1em 0;
}

#page-view .title {
	font-weight: bold;
	font-size: 1.3em;
	color: #282828;
}

#page-view .country {
	margin-top: 12px;
	font-size: 0.8em;
	font-weight: bold;
	color: #444;
}

#page-view .criteria {
	margin-top: 16px;
	background-color: #555555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #333333;
	padding: 8px;
	font-weight: bold;
	font-size: 0.7em;
	color: #fff;
}

#page-view .maintext {
	margin-top: 12px;
	font-size: 0.8em;
	color: #444;
}

#page-view .extraInfoTitle {
	margin-top: 12px;
	background-color: #bfbebe;
	-moz-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 8px;
	font-size: 0.7em;
	font-weight: bold;
	font-style: italic;
	color: #282828;
}

#page-view .extraInfo {
	background-color: #e3e1dd;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	padding: 8px;
	line-height: 120%;
	font-size: 0.7em;
	font-weight: normal;
	font-style: italic;
	color: #282828;
}

#page-view .image {
	margin-top: 24px;
	float: right;
	padding: 5px;
}

@media screen and (max-width: 450px) {

	#page-view img {
		max-width: 150px;
		height: auto;
	}
}

db devices
#overview-wrapper {
	width: 100%;
}

#overview .oli {
	color: #4d4d4d;
	background-color: #e8f0f7;
	font-weight: bold;
	padding: 25px 15px 25px 20px;
	border-bottom: 1px solid #c8c7cc;
	line-height: 1.3;
}

/*
################
## appendix view
################
*/
#appendix-content p img {
	max-width: 90%;
}


.popDecisionImage {
	max-width: none;
	width: 150%;
}